@import "variables";
@import "bootstrap";
@import "animate";
@import "icomoon";
@import "magnific-popup";
@import "icomoon";
@import "simple-line-icons";
@import "mixins";
@import "../../bower_components/owl.carousel/src/scss/owl.carousel.scss";
@import "owl-theme";
@import "speakers";



@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?srf3rx');
  src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
  url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

// Template Base
body {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #7f7f7f;
  background: $brand-bg-color;
  height: 100%;
  position: relative;

}
a {
  color: $brand-primary;
  @include transition(.5s);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    outline: none;
  }
}
.logo {
  margin-top: 10px;
  display: inline-block;
  & svg {
    width: 140px;
    fill: #fff;
  }
}
.navbar-fixed-top .logo svg .st1{
  fill:$brand-primary;
}.navbar-fixed-top .logo svg .st0{
   fill:$brand-primary;
 }
 .inco-header .logo svg .st1 {
   @media screen and (max-width: 600px) {
     fill:$brand-primary;
   }
 }
.inco-header .logo svg .st0 {
  @media screen and (max-width: 600px) {
    fill:$brand-primary;
  }
}
.top-offset{
  margin-top: 30px;
}
.btn-group-block{
  margin-bottom: 4em;
}
p {
  margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-black;
  font-family: $font-primary;
  font-weight: 400;
  margin: 0 0 30px 0;
}
::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

// Edges
.edge--bottom {
  @include angle(after);
}

.edge--bottom--reverse {
  @include angle(after, true);
}

.edge--top {
  @include angle(before);
}

.edge--top--reverse {
  @include angle(before, true);
}

.edge--both {
  @include angle(both);
}

.edge--both--reverse {
  @include angle(both, true);
}
.inco-header.navbar-fixed-top .navbar-collapse .reg-btn{
  color: #fff !important;
  background-color: $brand-primary !important;
  @include border-radius(3px);
	 border: 1px solid $brand-primary;
  &:hover{
    background-color: transparent !important;
    color: $brand-primary !important;
  }
}
.inco-header .navbar-nav .reg-btn{
  padding: 10px;
  color: $brand-primary !important;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 7.5px;
  &:hover{
    background-color:$brand-primary;
    color:white !important;
    span:before{
      content:none !important;
    }

  }

}
.inner-heading{
  margin: 70px 0;
}
.darker-color{
  color:$brand-darker;
}
.row-top-padded-lg{
  padding-top:10em;
}
.inco-header {
  // position: relative;
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 40px;


  @media screen and (max-width: $screen-sm) {
    margin-top: 0;
    background: $brand-white;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    .navbar-brand {
      color: $brand-primary!important;
    }
    #navbar {
      li {
        a {
          color: rgba(0,0,0,.5)!important;
          @include transition(.3s);
          &:hover {
            color: $brand-primary!important;
          }
          span {
            &:before {
              background: transparent!important;
            }
          }
        }
        &.active {
          a {
            background: transparent;
            background: none;
            color: $brand-primary!important;
            span {
              &:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }
  // padding-top: 15px;
  .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #navbar {
    li {
      a {
        font-family: $font-primary;
        color: rgba(255,255,255,.5);
        position: relative;
        // text-transform: uppercase;
        font-size: 1em;
        font-weight: 300;
        // @include transition(.5s);
        span {
          position: relative;
          display: block;
          padding-bottom: 2px;
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: rgba(255,255,255,.5);
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
          }
        }
        &:hover {
          // color: $brand-primary;
          color: $brand-white;
          // color: rgba(255,255,255,1);
          span {
            &:before {
              visibility: visible;
              transform: scaleX(1);
            }
          }
        }

      }
      &.active {
        a {
          background: transparent;
          background: none;
          color: $brand-white;
          span {
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  .navbar-brand {
    float: left;
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding-left: 0;
    color: $brand-white;

  }
  &.navbar-fixed-top {
    position: fixed!important;
    background: $brand-white;
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    margin-top: 0;
    top: 0;
    .navbar-brand {
      color: $brand-primary;
    }
    #navbar {
      li {
        a {
          color: rgba(0,0,0,.5);
          @include transition(.3s);
          &:hover {
            color: $brand-primary;
          }
        }
        &.active {
          a {
            background: transparent;
            background: none;
            color: $brand-primary;
            span {
              &:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                background-color: $brand-primary;
              }
            }
          }
        }
      }
    }
  }
  .navbar-default {
    border: transparent;
    background: transparent;
    @include border-radius(0px);
    @media screen and (max-width: $screen-sm) {
      margin-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
    }
    .brand-slogan {
      margin: 28px 0 0 15px;
      float: left;
      letter-spacing: 2px;
      color: #adadad;
      em {
        color: $brand-primary;
        font-style: normal;
      }
    }
  }
  a {
    @include transition(.0s);
  }

}


.inco-home {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-color: $brand-primary;
  color: #fff;
  overflow: hidden;
  .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .9;
    -webkit-backface-visibility: hidden; // for Chrome Windows

    @include inco-gradient;
  }
  &, .text-wrap {
    height: 900px;
  }
  .text-wrap {
    display: table;
    width: 100%;
    position: relative;
    z-index: 4;
  }
  .text-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    a {
      color: rgba(255,255,255,1);
      border-bottom: 1px dashed rgba(255,255,255,.5);
      @include transition(.5s);
      &:hover, &:active, &:focus {
        text-decoration: none;
        color: rgba(255,255,255,1);
        border-bottom: 1px dashed rgba(255,255,255,1);
      }
    }
    h1 {
      font-size: 3.125em;
      color: rgba(255,255,255,1);
      margin: 0 0 20px 0;
      @media screen and (max-width: 600px){
        font-size: 2.5em;
      }
    }
    .heading-text {
      font-size: 1.75em;
      line-height: 38px;
      font-weight: 300;
      color: rgba(255,255,255,.8);
      margin: 0;
      @media screen and (max-width: 600px){
        font-size: 1.5em;
      }
    }
    p {
      @media screen and (max-width: 600px){
        font-size: 0.8em;
      }
    }
  }
}



// Slant
.slant {
  position: absolute;
  transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  bottom: 0;
  margin-bottom: -40px;
  padding: 0;
  width: 101%;
}

.inco-intro {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  z-index: 10;
  padding-bottom: 7em;
  @media screen and (max-width: $screen-sm) {
    padding-bottom: 3em;
  }
  > div {
    @include flex;
    @include flexwrap;
  }
  .row{
    margin-left: 0;
    width:100%;
  }
  .inco-block {
    float: left;
    text-align: center;
    font-size: 16px;
    min-height: 250px;
    vertical-align: middle;
    padding: 40px;
    background: $brand-white;
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    z-index: 7;
    flex-grow: 1;

    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }
    > .overlay-darker {
      z-index: 8;
      opacity: .5;
      background: #474747;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    > .overlay {
      background: $brand-white;
      opacity: 1;
      z-index: 9;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include transition(.5s);
    }
    > .inco-text {
      position: relative;
      z-index: 10;
      .inco-intro-icon {
        font-size: 50px;
        color: $brand-primary;
        margin-bottom: 30px;
        display: block;
      }
    }
    .heading-text {
      font-size: 24px;
      font-weight: 400;
    }

    &:hover, &:focus {
      > .overlay {
        opacity: 0;
        z-index: 9;
      }
      > .inco-text {
        color: $brand-white;
        .inco-intro-icon {
          color: $brand-white;
        }

      }
      .heading-text {
        color: $brand-white;
      }
      .btn {
        border: 2px solid $brand-white!important;
        background: transparent;
        &:hover {
          background: $brand-primary!important;
          border: 2px solid $brand-primary!important;
        }
      }
    }

  }
}
.share-section{
  text-align:center;
}
.share-btn{
  &:not(:last-child){
    margin-right: 1em;
  }
  display: inline-block;
  color: #fff;
  line-height: 53px;
  text-align: center;
  width: 50px;
  height: 50px;
  background: #c1c1c1;
  border-radius: 50%;
  font-size: 1.3em;
  &:hover{
    text-decoration: none;
    color: $brand-white;
    background-color: $brand-primary;
  }
}
.share-heading{
  margin-top: 70px;
  padding-bottom: 0 !important;
}
.share-title{
  display: block;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.watch-video {
  text-align: center;
  width: 100%;
  display: block;
  float: left;
  span {
    display: block;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .btn-video {
    font-size: 60px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border: 2px solid $brand-primary;
    line-height: 0;
    display: table;
    text-align: center;
    @include border-radius(50%);
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
    i {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      right: -9px;
      // top: -1px;
      @include transition(.3s);
    }
    &:hover, &:focus {
      i {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}


.inco-services, .inco-testimonials, .inco-counters, .inco-work, .inco-contact, .inco-about, .inco-eee, .inco-ees, .inco-tk,.inco-grad, .inco-white {
  padding: 4em 0;
  @media screen and (max-width: $screen-sm) {
    padding: 2em 0;
  }
}
.inco-services, .inco-work, .inco-counters, .inco-eee, .inco-tk, .inco-activity,.inco-grad, .inco-white {
  padding: 7em 0;
  @media screen and (max-width: $screen-sm) {
    padding: 4em 0;
  }
}
.inco-services {


  @include inco-gradient;

  overflow: hidden;
  position: relative;
  color: rgba(255,255,255,.7);
  &:before, &:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
  }
  &:before {
    top: 0;
    margin-top: -35px;
  }
  &:after {
    bottom: 0;
    margin-bottom: -35px;
  }
  .inco-service {
    padding-right: 30px;
  }
  h3 {
    font-size: 24px;
    color: $brand-white;
  }
  .icon {
    font-size: 70px;
    margin-bottom: 30px;
    @include inline-block;
    &:before {
      color: $brand-white;
    }
  }
  .section-heading {
    .heading-text {
      color: $brand-white;
      &.left-border {
        &:after {
          background: rgba(255,255,255,.3);
        }
      }
    }
  }
}

.inco-counters {
  background: $brand-primary;
  overflow: hidden;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  padding: 9em 0 10em 0;
  @media screen and (max-width: $screen-sm) {
    padding: 4em 0;
  }
  .inco-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,.7);
  }
  &:before, &:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
  }
  &:before {
    top: 0;
    margin-top: -35px;
  }
  &:after {
    bottom: 0;
    margin-bottom: -35px;
  }
  .section-heading {
    position: relative;
    z-index: 3;
    margin-bottom: 0;
    h2 {
      color: $brand-white;

      &:after {
        background: rgba(255,255,255,.3)!important;
      }

    }
    .subtext {
      h3 {
        color: rgba(255,255,255,.7)!important;
      }
    }
  }
  .inco-counter {
    position: relative;
    z-index: 3;
    text-align: center;
    @media screen and (max-width: $screen-md) {
      margin-bottom: 50px;
      float: left;
      width: 100%;
    }
    .inco-counter-icon,
    .inco-counter-number,
    .inco-counter-label {
      display: block;
    }
    .inco-counter-icon {
      font-size: 40px;
      color: $brand-primary;
    }
    .inco-counter-number {
      font-size: 70px;
      color: $brand-white;
      font-weight: 300;
    }
    .inco-counter-label {
      color: rgba(255,255,255,.5);
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.inco-testimonials {
  .box-testimony {
    margin-bottom: 2em;
    float: left;
    a {
      color: rgba(255,255,255,.5);
      &:hover, &:focus, &:active {
        color: rgba(255,255,255,1);
        text-decoration: none;
      }
    }
    blockquote {
      border-left: none;
      padding: 30px;
      background: $brand-white;
      background: $brand-primary;
      font-size: 20px;
      font-weight: 300;

      position: relative;
      @include border-radius(7px);
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 40px;
        border-top: 10px solid black;
        border-top-color: $brand-primary;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      p {
        font-style: italic;
        color: $brand-white;
      }
    }
    .author {
      line-height: 20px;
      color: rgba(0,0,0,1);
      font-size: 16px;
      margin-left: 20px;
      font-weight: 400;
      a {
        color: $brand-primary;
        &:hover {
          text-decoration: underline;
        }
      }
      > figure {
        float: left;
        margin-right: 10px;
        img {
          width: 60px;
          @include border-radius(50%);
        }
      }
      p {
        float: left;
        margin-top: 10px;
      }
      .subtext {
        display: block;
        color: rgba(0,0,0,.5);
        font-size: 16px;
        font-weight: 400!important;
      }
    }
  }
}


.inco-work, .inco-tk, .inco-activity {
  // background: $brand-secondary;

  overflow: hidden;
  position: relative;
  color: rgba(255,255,255,.8);
  @include inco-gradient;
  & .btn{
    text-decoration: none;
    background-color: #fff;
    color:$brand-overlay-color;
    border:2px solid $brand-white;
    &:hover, &:focus, &:active{
      color:$brand-white;
      background-color:transparent !important;
    }
  }
  & .event-duration{
    & i {
      font-size:2em;
      font-weight: 900;
      vertical-align: middle;
      margin-right: 20px;
    }
    & span{
      font-size:20px;
      vertical-align: middle;
    }
  }
  & h3, & h4{
    font-weight: 600;
    color: rgba(255,255,255,.8);
  }

  & .conf-btn{
    text-align: right;
  }
  &:before, &:after {
    position: absolute;
    transform: rotate(-1.7deg);
    -ms-transform: rotate(-1.7deg);
    -webkit-transform: rotate(-1.7deg);
    -o-transform: rotate(-1.7deg);
    -moz-transform: rotate(-1.7deg);
    background-color: #fff;
    content: "";
    z-index: 3;
    display: inline-block;
    height: 70px;
    padding: 0;
    width: 101%;
  }
  &:before {
    top: 0;
    margin-top: -40px;
  }
  &:after {
    bottom: 0;
    margin-bottom: -40px;
  }
  .section-heading {
    h2 {
      color: $brand-white;

      &:after {
        background: rgba(255,255,255,.3);
      }

    }
    h3 {
      color: rgba(255,255,255,.8);
    }
  }
  .inco-project-item {
    display: block;
    width: 100%;
    position: relative;
    top: 0;
    background: $brand-white;
    overflow: hidden;
    z-index: 9;

    margin-bottom: 30px;
    @include border-radius(7px);
    @include transition(.3s);

    img {
      z-index: 8;
      opacity: 1;
      @include transition(.3s);
    }
    .inco-text {
      padding: 10px 20px;
      h2, span {
        text-decoration: none!important;
      }
      h2 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
      }
      span {
        color: lighten($brand-black, 70%);
        font-size: 16px;
        font-weight: 400;
      }
    }
    &:hover, &:focus {
      box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
      text-decoration: none;
      top: -15px;
      img {
        opacity: .7;
      }
      h2, span {
        text-decoration: none!important;
      }
    }
  }
  .program-list{
    margin: 20px 0 0 0;
    list-style: none;
    position: relative;
    padding-left: 60px;
    &:before{
      content: "";
      position: absolute;
      top: 0.4em;
      left: 18px;
      height: calc(100% - 10px);
      width: 2px;
      background: #d7e4ed;
    }
    &>li{
      font-weight: bold;
      position: relative;
      margin-bottom: 20px;
      @include transition(.5s);
      /*&:hover .topic{
          color: $brand-white;
          cursor: pointer
      }*/
      &:before{
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid $brand-secondary;
        background: $brand-white;
        position: absolute;
        @include border-radius(50%);
        left: -48px;
        top: 0.4em;
      }
      &:last-child:after{
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid $brand-secondary;
        background: $brand-white;
        position: absolute;
        @include border-radius(50%);
        left: -48px;
        bottom:0.2em;
      }
      &>.themes{
        display: none;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 20px;
      }
    }
    & .open{
      display:block;
    }
  }
}
.inco-work, .inco-grad{
  .no-padding{
    padding:0;
  }
  .date-line {
    width: 100%;
    background: #e8e8e8;
    height: 3px;
    margin-bottom: 36px;
    margin-top: 36px;
    display: none;
  }
  .top-date{
    margin-bottom:25px;
  }
  @media (min-width: 992px) {
    .date-line {
      display: block
    }
  }
  .date-wrap .date-item {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    color: $brand-darker;
    position: relative;
    margin-bottom: 25px;
    background: white;
    @include border-radius(5px);
    box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.2)
  }
  .date-wrap.top-date .date-item {
    margin-bottom: 0;
    margin-top: 25px;
  }
  .date-wrap .date-item:before, .date-wrap .date-item:after {
    content: " ";
    display: table
  }
  .date-wrap .date-item:after {
    clear: both
  }
  .date-wrap .date-item .date-circle {
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -12px;
  }
  .date-wrap.top-date .date-item .date-circle {
    top: inherit !important;
    bottom: -48px !important;
  }
  .date-wrap .date-item .date-circle {
    background: $brand-white;
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.2);
  }

  @media (min-width: 992px) {
    .date-wrap .date-item .date-circle {
      display: block
    }
  }
  .date-wrap .date-item:before {
    border-top: 12px solid transparent;
    border-left: 0 solid white;
    border-right: 12px solid white;
    border-bottom: 12px solid transparent;
    top: -15px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    content: "";
    display: inline-block;
    -webkit-transform: rotate(99grad);
    -moz-transform: rotate(99grad);
    -ms-transform: rotate(99grad);
    -o-transform: rotate(99grad);
    transform: rotate(99grad);
    display: none
  }
  .date-wrap.top-date .date-item:before {
    top: inherit !important;
    bottom: -15px;
    -webkit-transform: rotate(-99grad);
    -moz-transform: rotate(-99grad);
    -ms-transform: rotate(-99grad);
    -o-transform: rotate(-99grad);
    transform: rotate(-99grad);
  }
  @media (min-width: 992px) {
    .date-wrap .date-item:before {
      display: block
    }
  }
  .date-wrap .date-item .date-title {
    box-sizing: border-box;
    float: left;
    padding: 15px 25px;
    text-align: center
  }
  .date-wrap .date-item .date-title .date {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    &>sup{
      font-size: 0.4em;
      top: -1em;
      padding-left: 2px;
    }
  }
  .date-wrap .date-item .date-title .date-month {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em
  }
  .date-wrap .date-item .date-desc {
    font-size: 1em;
    line-height: 1.4em;
    padding: 15px 25px 15px 0px
  }

  .timeline ul li {
    color: $brand-darker;
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #fff;
  }

  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }

  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 14px 16px 0 0;
    border-color: transparent #fff transparent transparent;
  }

  .timeline ul li:nth-child(even) div {
    left: -439px;
  }

  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 14px 0 0 16px;
    border-color: transparent transparent transparent #fff;
  }
  .timeline ul li::after {
    background: #fff;
    transition: background .5s ease-in-out;
  }

  .timeline ul li.in-view::after {
    background: #fff;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px,0,0);
  }

  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px,0,0);
  }

  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  .imp-date {
    padding-left: 5%;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.3em;
    &:after{
      bottom: -7px;
      display: block;
      width: 20px;
      height: 2px;
      background: $brand-primary;
      content: "";
      position: relative;
    }
  }
  .imp-date-desc{
    padding-left: 5%;
    margin-bottom: 1em;
  }
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px; /*250+45-6*/
    }
  }
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }

    .timeline ul li div {
      width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
      left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 14px 16px 0 0;
      border-color: transparent #fff transparent transparent;
    }
  }
}
.inco-ees, .inco-white{
  & .btn{
    background-color:$brand-primary;
    color:$brand-white;
    border:2px solid $brand-primary;
    &:hover, &:focus, &:active{
      color:$brand-primary;
      background-color:transparent !important;
    }
  }
  .no-padding{
    padding:0;
  }
  .date-line {
    width: 100%;
    background: #e8e8e8;
    height: 3px;
    margin-bottom: 36px;
    margin-top: 36px;
    display: none;
  }
  .top-date{
    margin-bottom:25px;
  }
  @media (min-width: 992px) {
    .date-line {
      display: block
    }
  }
  .date-wrap .date-item {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    color: $brand-darker;
    position: relative;
    margin-bottom: 25px;
    background: white;
    @include border-radius(5px);
    box-shadow: 0px 0px 37px -5px rgba(0,0,0,0.2)
  }
  .date-wrap.top-date .date-item {
    margin-bottom: 0;
    margin-top: 25px;
  }
  .date-wrap .date-item:before, .date-wrap .date-item:after {
    content: " ";
    display: table
  }
  .date-wrap .date-item:after {
    clear: both
  }
  .date-wrap .date-item .date-circle {
    display: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -12px;
  }
  .date-wrap.top-date .date-item .date-circle {
    top: inherit !important;
    bottom: -48px !important;
  }
  .date-wrap .date-item .date-circle {
    background: $brand-primary;
    box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.2);
  }

  @media (min-width: 992px) {
    .date-wrap .date-item .date-circle {
      display: block
    }
  }
  .date-wrap .date-item:before {
    border-top: 12px solid transparent;
    border-left: 0 solid white;
    border-right: 12px solid white;
    border-bottom: 12px solid transparent;
    top: -15px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    content: "";
    transform: rotate(99grad);
    display: none
  }
  .date-wrap.top-date .date-item:before {
    top: inherit !important;
    bottom: -15px;
    transform: rotate(-99grad);
  }
  @media (min-width: 992px) {
    .date-wrap .date-item:before {
      display: block
    }
  }
  .date-wrap .date-item .date-title {
    box-sizing: border-box;
    float: left;
    padding: 15px 25px;
    text-align: center
  }
  .date-wrap .date-item .date-title .date {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    &>sup{
      font-size: 0.4em;
      top: -1em;
      padding-left: 2px;
    }
  }
  .date-wrap .date-item .date-title .date-month {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em
  }
  .date-wrap .date-item .date-desc {
    font-size: 1em;
    line-height: 1.4em;
    padding: 15px 25px 15px 0px
  }
  & .event-duration{
    & i {
      color: $brand-primary;
      font-size:2em;
      font-weight: 900;
      vertical-align: middle;
      margin-right: 20px;
    }
    & span{
      font-size:20px;
      vertical-align: middle;
    }
  }
  & .conf-btn{
    text-align: right;
  }
  & h3{
    font-weight: 600;

  }
  .timeline ul li {
    color: $brand-darker;
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #d7e4ed;
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: $brand-primary;
  }

  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }

  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 14px 16px 0 0;
    border-color: transparent $brand-primary transparent transparent;
  }

  .timeline ul li:nth-child(even) div {
    left: -439px;
  }

  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 14px 0 0 16px;
    border-color: transparent transparent transparent $brand-primary;
  }
  .timeline ul li::after {
    background: #d7e4ed;
    transition: background .5s ease-in-out;
  }

  .timeline ul li.in-view::after {
    background: $brand-primary;
  }

  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px,0,0);
  }

  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px,0,0);
  }

  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  .imp-date {
    color: $brand-white;
    padding-left: 5%;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 1.3em;
    &:after{
      bottom: -7px;
      display: block;
      width: 20px;
      height: 2px;
      background: $brand-white;
      content: "";
      position: relative;
    }
  }
  .imp-date-desc{
    color: $brand-white;
    padding-left: 5%;
    margin-bottom: 1em;
  }
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px; /*250+45-6*/
    }
  }
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
    }

    .timeline ul li div {
      width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
      left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 14px 16px 0 0;
      border-color: transparent $brand-primary transparent transparent;
    }
  }
  .program-list{
    margin: 20px 0 0 0;
    list-style: none;
    position: relative;
    padding-left: 60px;
    &:before{
      content: "";
      position: absolute;
      top: 0.4em;
      left: 18px;
      height: calc(100% - 10px);
      width: 2px;
      background: #d7e4ed;
    }
    &>li{
      font-weight: bold;
      position: relative;
      margin-bottom: 20px;
      @include transition(.5s);
      /*&:hover .topic{
          color: $brand-primary;
          cursor: pointer
      }*/
      &:before{
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid $brand-white;
        background: $brand-primary;
        position: absolute;
        @include border-radius(50%);
        left: -48px;
        top: 0.4em;
      }
      &:last-child:after{
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        border: 2px solid $brand-white;
        background: $brand-primary;
        position: absolute;
        @include border-radius(50%);
        left: -48px;
        bottom:0.2em;
      }
      &>.themes{
        display: none;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 20px;
      }
    }
    & .open{
      display:block;
    }
  }
}
.inco-tk {
  .event-duration{
    @media screen and (max-width: $screen-sm) {
      margin-bottom: 4em;
    }
  }
  .tk-desc{
    margin-top: 70px;
    font-size: 1.5em;
    line-height: 1.5;
    &:before{
      content: "";
      position: absolute;
      display: block;
      width: 80px;
      height: 2px;
      background: $brand-white;
      left: 50%;
      margin-left: -40px;
      top: 0
    }
  }

}
.inco-price{
  @media screen and (max-width: $screen-sm) {
    margin-top: 0 !important;
  }
  .tk-price{
    & h3 {
      @media screen and (max-width: 600px) {
        font-size: 0.8em !important;
        padding-top: 2em;
      }
      & span{
        @media screen and (max-width: 600px) {
          font-size: 1.5em;
        }
      }
    }
  }

  h3{
    font-size: 2.5em;
    padding-top:1em;
    color: #333;
    font-weight: normal;
    @media screen and (max-width: 600px) {
      font-size: 2em !important;
    }
  }
  .additional-info{
    position: absolute;
    font-size: 40px !important;
    color: $brand-red !important;
    top: 15px;
	right: -10px;
    @media screen and (max-width: 600px){
      top: 5px;
      position: relative !important;
    }
  }
  .additional-desc{
    position: relative;
    padding: 0 5% 5% 5%;
    margin-top: 3em;
    font-size:14px;
    sup{
      font-size: 1.5em;
      position: absolute;
      top: 0.3em;
      left: 0.8em;
      color: $brand-red;
      @media screen and (max-width: 600px){
        left: 0.4em;
      }
    }
  }
  .inner-price-wrap{
    @include border-radius(5px);
    text-align: center;
    font-size: 16px;
    min-height: 300px;
    vertical-align: middle;
    background: $brand-white;
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    z-index: 7;
    background-size: cover;
    position: relative;
    backgroun-repeat: no-repeat;
    color:$text-gray;

    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }
    .nav-pills{
      background-color: $brand-primary;
      margin-bottom: 3em;
      &>li{
        float:none !important;
        display: inline-block;
        &.active>a{
          background-color:$brand-primary;
          color: $brand-white;
          @include transition(.5s);
          &:after{
            content: "";
            display: block;
            width: 23px;
            height: 9px;
            background: url(../img/angle.png);
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -11px;
          }
        }
        & a{
          color:$brand-darker;
          &:hover{
            background-color: transparent;
            color: $brand-white;
          }
        }
      }
    }
    .attendee-price, .companion-price{
      display:inline-block;
      color:$text-gray;
      @media screen and (max-width: 600px){
        display: block !important;
        text-align: center;
      }
      & p {
        position: relative;
        margin-bottom: 1em;
      }
      & h5{
        margin-bottom: 15px;
        text-transform: uppercase;
        color: $brand-gray;
      }
      & span{
        vertical-align: middle;
        font-size: 2.4em;
      }
      & i{
        margin-left: .5em;
        vertical-align: middle;
        font-size: 2.1em;
      }
      h3 {
        color: $brand-body-color;
        position:relative;
        font-size:1em;
        margin-top: 2em;
        .additional-info{
          top: 0.8em;
          right: 2em;
          @media screen and (max-width: 600px){
            top: -1em;
            right: -1.7em;
          }
        }
		  .additional-en{
			  top: 0.8em;
          right: 3.2em;
            @media screen and (max-width: 600px){
              top: 5px;
              right: -10px;
            }
		  }
      }
    }
    .companion-price{
      margin-left: 4em;
      @media screen and (max-width: 600px){
        margin-left: 0;
      }
      & i {
        @media screen and (max-width: 600px) {
          margin-left: 0 !important;
        }
      }
    }
  }
}

.inco-reg{
  .reg-additional{
    margin-top: 3em;
  }
  .form-chooser{
    width:90%;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .checkbox-group{
    & label{
      margin-bottom: 1.2em;
    }
  }
  & h3.with-line{
    margin-bottom: 3em;
    position: relative;
    &:after{
      margin-top: 5px;
      display: block;
      width: 40px;
      height: 2px;
      background: $brand-primary;
      margin-left: -20px;
      left: 50%;
      bottom: -5px;
      content: "";
      position: absolute;
    }
  }
  & .error {
    bottom: -2em;
    position: absolute;
    background: transparent;
    color: $brand-red;
    font-size: .8em;
  }
  position: relative;
  & #progressbar {
    margin: 30px 0 50px 0;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    @media screen and (max-width: 600px){
      padding:0;
    }
    & li {
      list-style-type: none;
      text-transform: uppercase;
      font-size: 1em;
      width: 33.3333333333%;
      float: left;
      position: relative;
      @media screen and (max-width: 600px){
        font-size: 0.5em;
      }
      &:before {
        font-size: 1em;
        content: counter(step);
        counter-increment: step;
        width: 40px;
        line-height: 40px;
        display: block;
        color: lighten($brand-darker, 50%);
        background: lighten($brand-darker, 70%);
        @include border-radius(50%);
        margin: 0 auto 5px auto;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
        -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
        box-shadow: 0 2px 3px rgba(0,0,0,.2);
      }
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: -50%;
        top: 20px;
        z-index: -1; /*put it behind the numbers*/
      }
      &:hover{
        cursor: pointer;
      }
      &:first-child:after {
        /*connector not needed before the first step*/
        content: none;
      }
      &.active:before,  &.active:after{
        background: $brand-primary;
        color: white;
      }
    }
  }
  & fieldset {
    background: white;
    border: 0 none;
    @include border-radius(3px);
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
    &:not(:first-of-type) {
      display: none;
    }
    @media screen and (max-width: 600px){
      padding-left: 0.2em;
      padding-right: 0.2em;
      width: 100%;
      margin: 0 !important;
    }
  }
  & .action-button{
    margin-top: 4em;
    cursor: pointer;
    &.next, &.previous {
      @media screen and (max-width: 600px) {
        @include border-radius(5px);
        color: $brand-darker !important;
        background-color: #c0c0c0 !important;
        border: none !important;
        &:hover {
          color: #fafafa !important;
          background-color: #333 !important;
        }
      }
    }
  }
  .nav-pills{
    color: lighten($brand-darker, 20%);
    margin: 1em 0;
    &>li{
      @include border-radius(5px);
      float:none !important;
      display: inline-block;
      @media screen and (max-width: 600px){
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em !important;
        display: block !important;
        max-width: 60%;
      }
      a{
        border: 2px solid lighten($brand-darker, 20%);
      }
      &.active>a{
        border: 2px solid $brand-primary;
        background-color:$brand-primary;
        color: $brand-white;
      }
      & a{
        color:$brand-darker;
      }
    }
  }
  .input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    width: calc(100% - 2em);
    vertical-align: top;
  }

  .input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
  }

  .input__field:focus {
    outline: none;
  }

  .input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: $brand-white;
    font-weight: bold;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
  }
  .input--ichiro {
    margin-top: 2.5em;
  }
  .input__field--ichiro {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 100;
    display: block;
    padding: 0 0.55em;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #fff;
    color: $brand-darker;
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
  }

  .input__label--ichiro {
    width: 100%;
    text-align: left;
    cursor: text;
  }

  .input__label--ichiro::before {
    font-size: 1.3em;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $brand-primary;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .input__label-content--ichiro {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }

  .input__field--ichiro:focus,
  .input--filled .input__field--ichiro {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  .input__field--ichiro:focus + .input__label--ichiro,
  .input--filled .input__label--ichiro {
    cursor: default;
    pointer-events: none;
  }

  .input__field--ichiro:focus + .input__label--ichiro::before,
  .input--filled .input__label--ichiro::before {
    -webkit-transform: scale3d(1, 1.5, 1);
    transform: scale3d(1, 1.5, 1);
  }

  .input__field--ichiro:focus + .input__label--ichiro .input__label-content--ichiro,
  .input--filled .input__label-content--ichiro {
    -webkit-transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
  }
  /*& label{
      margin-bottom: 1em;
      font-size: 1.2em;
         position: relative;
      &.with-line:after{
            display: block;
          width: 20px;
          height: 2px;
          background: #52d3aa;
          left: 0;
          bottom: -13px;
          content: "";
          position: absolute;
      }
  }
  & input{
      margin: 1em 0;
  }*/
}
input[type="checkbox"]{
  opacity: 0;
}
/* iCheck plugin Flat skin, green
----------------------------------- */
.icheckbox_flat-green,
.iradio_flat-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../img/green.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_flat-green {
  background-position: 0 0;
}
.icheckbox_flat-green.checked {
  background-position: -22px 0;
}
.icheckbox_flat-green.disabled {
  background-position: -44px 0;
  cursor: default;
}
.icheckbox_flat-green.checked.disabled {
  background-position: -66px 0;
}

.iradio_flat-green {
  background-position: -88px 0;
}
.iradio_flat-green.checked {
  background-position: -110px 0;
}
.iradio_flat-green.disabled {
  background-position: -132px 0;
  cursor: default;
}
.iradio_flat-green.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
  .icheckbox_flat-green,
  .iradio_flat-green {
    background-image: url(../img/green@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }

}

.reg-eee, .reg-ees, .reg-tk{
  display:none;
  &.active{
    display:block;
  }
}

.inco-activity{
  .additional-desc{
    width: 70%;
    font-size: 1em;
    margin: 3em auto 0 auto;
  }
  sup{
    font-size: 1.2em;
    color: $brand-white;
  }
  .additional-info{
    top: 0.9em;
    position: absolute;
    font-size:0.8em !important;
    color:$brand-white !important;
  }

  .service-img {
    object-fit: contain;
    height: 300px;
    width: 100%;
    overflow: hidden;
    min-width: 100%;
  }
  .s-img {
    height: 100%;
    width: auto;
  }
  .service-offer {
    overflow: hidden;
    background: white;
    border: 0 none;
    margin-bottom: 2em;
    @include border-radius(3px);
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-sizing: border-box;
    position: relative;
    @media screen and (max-width: 600px) {
      max-width: 100%;
      margin:0 auto;
      margin-bottom: 2em;
    }
  }
  .service-content {
    border-top: solid 5px $brand-primary;
    position: relative;
  }
  .service-cost {
    color: white;
    font-size: 1.4em;
    text-align: center;
    line-height: 45px;
    top: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 5px;
    background-color: $brand-primary;
    position: absolute;
    width: 125px;
    height: 45px;
    i{
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
    }
  }
  .cost {
    padding-right: 5%;
  }
  .service-title {
    color: $brand-darker;
    text-align: center;
    margin-top: 10%;
    min-height: 4.4em;
  }
  .service-desc {
    color: $brand-darker;
    padding: 4% 7%;
  }
  .service-ico{
    color: $brand-primary;
    font-size: 2.5em;
    vertical-align: middle;
    font-size: 2em;
  }
  .service-ico-wrapper {

    padding-top: 10px;
    margin: 2em auto 10px;
    text-align: center;
    @media screen and (max-width: 600px) {
      padding-right: 0.5em;
      padding-left: 0.5em;
    }
    .ico-desc{
      vertical-align: middle;
      display: inline-block;
      margin: 0;
      margin-left: 1em;
      color: $brand-darker;
      font-size: 1.2em;
    }
  }
  .ico-wrapper {

    margin-bottom: 10px;
    display: inline-block;
  }
  .ico-wrapper:not(:last-child) {
    margin-right: 12%;
  }
}

/*Hide all except first fieldset*/
/*inputs*/
/*buttons*/
/*headings*/
/*progressbar*/

/*progressbar connectors*/
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/

/*input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  padding-left: 40px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid $brand-primary;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  @include border-radius(0);
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
*/

[type="file"] {
  height: 0.1px; width: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  + label {
    @include border-radius(6px);
    border: 2px solid lighten($brand-darker, 20%);
    background-color: $brand-white;
    color: lighten($brand-darker, 20%);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    overflow: hidden;
    padding:.5em;
    @include transition(.5s);
    &:hover {
      color: $brand-white;
      border: 2px solid $brand-primary;
      background-color: $brand-primary;
    }
  }

  &:focus + label {
    color: $brand-gray;
    background-color: $brand-primary;
    border: 2px solid $brand-primary;
  }
}
.end-form{
  margin-top: 2em;
}
.inco-person {
  border: 2px solid lighten($brand-black, 95%);
  padding: 80px 30px 30px 30px;
  float: left;
  width: 100%;
  position: relative;
  @media screen and (max-width: $screen-md) {
    margin-bottom: 3.5em;
  }
  figure {
    position: absolute;
    margin-top: -60px;
    top: 0;
    left: 50%;
    margin-left: -60px;
    display: block;
    margin-bottom: 50px;
    img {
      width: 120px;
      border: 2px solid lighten($brand-black, 95%);
      @include border-radius(50%);
    }
  }
  h3 {
    margin-bottom: 0px;
  }
  .inco-position {
    color: lighten($brand-black, 70%);
    display: block;
    margin-bottom: 20px;
  }
}

// Forms
.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0,0,0,.1);
  height: 54px;
  font-size: 18px;
  font-weight: 400;
  // &:hover
  &:active, &:focus {
    outline: none;
    box-shadow: none;
    border-color: $brand-primary;
  }
}
.btn {
  @include transition(.5s);
  &:hover, &:active, &:focus {
    outline: none;
  }
}
.inco-contact {
  // Contacts
  padding-bottom: 0;
  background: #fafafa;
  .inco-contact-info {
    // color: rgba(255,255,255,.7);
    padding: 0;
    margin: 0 0 1.5em 0;
    li {
      position: relative;
      padding: 0;
      margin: 0 0 1.5em 0;
      padding-left: 50px;
      list-style: none;

      i {
        position: absolute;
        top: .2em;
        left: 0;
      }
    }
  }
}


.section-heading {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  &--no-spacing{
    .heading-text{
      margin: 0;
      padding: 0;
    }
  }
  clear: both;
  h2 {
    margin: 0 0 30px 0;
    font-size: 50px;
    font-weight: 300;
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: block;
    padding-bottom: 20px;
    line-height: 1.5;
    &.left-border {
      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 80px;
        height: 2px;
        background: $brand-primary;
        left: 0%;
        margin-left: 0px;
        bottom: 0;
      }
    }
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 80px;
      height: 2px;
      background: $brand-primary;
      left: 50%;
      margin-left: -40px;
      bottom: 0;
    }
    @media screen and (max-width: $screen-sm) {
      font-size: 30px;
    }
  }
  h3 {
    font-weight: 300;
    line-height: 1.5;
    color: #929292;
    @media screen and (max-width: $screen-sm) {
      font-size: 24px!important;
      line-height: 34px;
    }
  }
}

.btn {
  @include transition(.3s);
}



// Burger Menu
.inco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  &.active i {
    &::before, &::after {
      background: $brand-primary;
    }
  }
  &:hover, &:focus, &:active {
    outline: none;
    border-bottom: none!important;
  }
  i {
    position: relative;
    @include inline-block;
    width: 25px;
    height: 3px;
    color: $brand-primary;
    font:bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent:-55px;
    background: $brand-primary;
    transition: all .2s ease-out;
    &::before, &::after {
      content:'';
      width: 25px;
      height: 3px;
      background: $brand-primary;
      position: absolute;
      left:0;
      @include transition(.2s);
    }
  }
}

.inco-nav-toggle i::before {
  top: -7px;
}
.inco-nav-toggle i::after {
  bottom: -7px;
}
.inco-nav-toggle:hover i::before {
  top: -10px;
}
.inco-nav-toggle:hover i::after {
  bottom: -10px;
}
.inco-nav-toggle.active i {
  background: transparent;
}
.inco-nav-toggle.active i::before {
  top:0;
  transform: rotateZ(45deg);
}
.inco-nav-toggle.active i::after {
  bottom:0;
  transform: rotateZ(-45deg);
}
.inco-nav-toggle {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 21;
  padding: 6px 0 0 0;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none!important;
  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}


#footer {
  .social.social-circle a {
    background: #7f7f7f;
    &:hover{
      background-color: $brand-primary !important;
    }
  }
  padding: 30px 0;
  color: #7f7f7f;
  position: relative;
  background-color: $brand-darker;
  // color: #d6d6d6;btn
  .gotop {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -40px;
    background: $brand-white;
    z-index: 8;
    width: 50px;
    height: 50px;
    line-height:50px;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    @include border-radius(50%);
    @include transition(.2s);
    &:hover, &:focus {
      top: -25px;
      text-decoration: none!important;
    }
  }
  .copyright {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
}


.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  @include transition(.3s);
  &.btn-primary {
    background: $brand-primary;
    color: $brand-white;
    border: none!important;
    border: 2px solid transparent!important;
    &:hover, &:active, &:focus {
      box-shadow: none;
      background: $brand-primary;
    }
  }
  &:hover, &:active, &:focus {
    background: #393e46!important;
    color: $brand-white;
    outline: none!important;
  }
  &.btn-default {
    &:hover, &:focus, &:active {
      border-color: transparent;
    }
  }
}

// Social
.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    a {
      font-size: 16px;
      display: table;
      width: 40px;
      height: 40px;
      margin: 0 4px;

      i {
        display: table-cell;
        vertical-align: middle;
      }
      &:hover, &:active, &:focus {
        text-decoration: none;
        border-bottom: none;
      }
      &.social-box {
        background: $brand-primary;
        color: $brand-white;
      }
      &.social-circle {
        background: $brand-primary;
        color: $brand-white;
        @include border-radius(50%);
      }
      &:hover {
        background: #393e46!important;
      }

    }
  }
  &.social-box {
    a {
      background: $brand-primary;
      color: $brand-white;
    }
  }
  &.social-circle {
    a {
      background: $brand-primary;
      color: $brand-white;
      @include border-radius(50%);
    }
  }
}

// Map
#map {
  width: 100%;
  height: 500px;
  position: relative;
  @media screen and (max-width: $screen-sm) {
    height: 200px;
  }
}

// Magnific Popup
// Zoom
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}



.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 0;
}


// Helper Class
.col-xxs-12 {
  @media screen and (max-width: 480px) {
    float: none;
    width: 100%;
  }
}
.row-bottom-padded-lg {
  padding-bottom: 7em;
  @media screen and (max-width: $screen-sm ) {
    padding-bottom: 2em;
  }
}
.row-bottom-padded-md {
  padding-bottom: 4em;
  @media screen and (max-width: $screen-sm ) {
    padding-bottom: 2em;
  }
}
.row-bottom-padded-sm {
  padding-bottom: 2em;
  @media screen and (max-width: $screen-sm ) {
    padding-bottom: 2em;
  }
}

// Menu bar Animate
.inco-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.event-coordinator{
  display: inline-block;
  border:3px solid;
  padding: 20px 30px;
  border-radius: 5px;
  margin: 35px 0;

  &-title{
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &-name,&-email,&-phone,&-hours,&-info{
	 
    margin-bottom: 10px;
  }
  & .coordinator-link{
		  text-decoration: none;
          color: $brand-lighter;
		  &:hover{
			  color: #4169E1 !important;
            text-decoration: underline;
		  }
	  }
  #footer &{
    border:none;
    margin:0 0 5px;
	color: #ccc;
	  &-title{
		  color:#fff;
	  }
  }
  #inco-tk & {
    @media screen and (max-width: $screen-sm ) {
      margin-top: -3em;
      margin-bottom: 4em;
    }
  }
}

#footer{
	.inco-contact-address{
		color:#ccc;
	}
	.address-wrap{
		padding:20px 30px;
	}
  .heading{
	  color:#fff;
    font-weight:bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.mb{
  margin-bottom: 20px;
}
.my40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.conference-sub-heading{
  color: $brand-darker;
}

.committee-block{
  margin-bottom: 30px;
}

.collapsible-block{
  border-radius:5px;
  padding: 15px;
  display: block;
  text-decoration: none;
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  h3{
    margin: 0;
  }
  a.collapsible-link{
    position: relative;
    display: block;
    &::after{
      position: absolute;
      right: 15px;
      font-family: 'icomoon';
      content: "\f106";
    }
    &.collapsed::after{
      font-family: 'icomoon';
      content: "\f107";
    }
  }
  .collapsible-desc{
    margin-top: 20px;
  }
}