<div class="left_col">
  <div class="left_col scroll-view">
    <div class="row nested_max_min">
      <div class="logo">
        <svg class="polylogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 348 71.4">
          <defs>
            <style>
.a{fill:#fff;}
</style>
          </defs>
          <title>polytech</title>
          <path class="a" id="lg" d="M122.9,35.6C122.9,25,127.3,16,140,16s17.1,9,17.1,19.6S152.7,55.2,140,55.2s-17.1-9-17.1-19.6m8,0c0,6.2,1.3,12.1,9.1,12.1s9.1-5.9,9.1-12.1-1.3-12.1-9.1-12.1-9.1,5.9-9.1,12.1m193-18.7,7,11.6,7-11.6h9.4L335.8,34.8l12.3,19.5h-9.5l-7.8-13.1-7.9,13.1h-9.5l12.3-19.5L314.4,16.9h9.5ZM289.3,31.8h14.8v7.3H289.3V47h17.4v7.6H281.4V16.9h25.4v7.6H289.3v7.3ZM255.4,54.3V24.4H245.1V16.9h28.6v7.6H263.4V54.3h-8Zm-41.3,0h-7.6V16.9h8v23l14.8-23.1h7.6V54.3h-8v-23Zm-52.5-7.4c3.3,0.1,5.5-1.3,6.3-4.3,2.2-8.1,2.4-17.3,3.6-25.7h24.1V54.3h-8V24.4h-9c-0.5,5.2-1.4,14.3-2.9,20a13.8,13.8,0,0,1-14.1,10.1V46.9h0ZM84.7,54.3V16.9h29.2V54.3h-8V24.4H92.7V54.3h-8ZM35.1,0C29,0,19,.3,13.3,1,5.3,2,2.1,6.1,1.2,13.7a208.8,208.8,0,0,0-1.1,22c0,7.8.2,16.2,1.1,22C2.5,65.2,6,69.2,13.3,70.4s16.4,1,21.8,1,16.1,0,21.8-1c7.3-1.2,10.7-5.1,12.1-12.7,1-5.7,1.1-14.5,1.1-22s-0.7-17.4-1.1-22C68.2,5.9,64.8,2.1,56.9,1,51.1,0.2,41.2,0,35.1,0ZM59.7,8c1.6,0.7,4.3,4.7,3.6,9.1a22.4,22.4,0,0,1-10.2,4.8V50H63.6c0,4.3-.7,7.8-1.4,9.1H43V22.3H29.7V44.2c0,11-6.2,16.5-14.2,16.5a27.1,27.1,0,0,1-7.2-.9c-1-1.4-1.6-5.7-1.7-11,5.3,2.6,12.4,3.8,13-4.5V23.7c-8,.9-11,6.5-13.7,10.2,0.1-5,.3-9.6.6-12.6,5.5-5.9,11.6-8.7,23.7-8.7H47.6A19.3,19.3,0,0,0,59.7,8Z" transform="translate(-0.1)"/>
          <path class="a" id="sm" d="M173,3.8c-5.6,0-14.7.2-20,.9-7.3.9-10.3,4.7-11.1,11.6a191.2,191.2,0,0,0-1,20.1c0,7.2.1,14.9,1,20.1,1.2,6.9,4.4,10.5,11.1,11.6s15,0.9,20,.9,14.7,0,20-.9,9.8-4.7,11.1-11.6c0.9-5.3,1-13.3,1-20.1s-0.6-15.9-1-20.1C203.3,9.1,200.2,5.6,193,4.6A187.4,187.4,0,0,0,173,3.8Zm22.5,7.4c1.4,0.6,3.9,4.3,3.3,8.3a20.5,20.5,0,0,1-9.3,4.3V49.6h9.6c0,4-.6,7.1-1.3,8.3H180.3V24.2H168.1V44.3c0,10.1-5.7,15.1-13,15.1a24.9,24.9,0,0,1-6.6-.9c-1-1.3-1.4-5.2-1.5-10.1,4.8,2.4,11.4,3.4,11.9-4.1V25.5c-7.4.8-10.1,6-12.6,9.4,0-4.6.3-8.8,0.5-11.6,5-5.4,10.7-7.9,21.7-7.9h15.9A17.7,17.7,0,0,0,195.5,11.1Z" transform="translate(-0.1)"/>
        </svg>
      </div>
    </div>
    <div class="row">
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <ul class="nav side-menu">
            <!--li class="has-submenu"><a href=""><i class="fa fa-cog sw"></i> Основные настройки<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="<?/*=CONTROL*/?>settings/" title="Настройки сайта">Настройки</a></li>
								<li><a href="<?/*=CONTROL*/?>course/"   title="Курс">Курс</a></li>
                <li><a href="<?/*=CONTROL*/?>users/"    title="Пользователи">Пользователи</a></li>
              </ul>
            </li-->
            <li><a href="<?=CONTROL?>participants/"><i class="fa fa-id-card-o sw"></i>Регистрации</a></li>
						<!--li><a href="<?=CONTROL?>ads/"><i class="fa fa-thumbs-o-up sw"></i>Отзывы</a></li>
						<li><a href="<?=CONTROL?>faq/"><i class="fa fa-question sw"></i>FAQ</a></li-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top_nav">
  <div class="nav_menu">
    <div class="nav toggle"> <a id="menu_toggle" title="Свернуть/Развернуть панель"><i class="ion-ios-arrow-back hidden-md-down"></i></a> </div>
    <nav class="" role="navigation">
      <div class="breadcrumb-place"></div>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href=" " class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="<?=CORE_IMG;?>avatar.jpg" alt="Фотография пользователя"> <?global $user?><?="{$user['first_name']} {$user['last_name']}"?> <span class="fa fa-angle-down"></span> </a>
          <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
            <li><a href="#"><i class="fa fa-user pull-right"></i> Редактировать профиль</a></li>
            <li><a href="#" id="exit_button" title="Выйти из панели администрирования"><i class="fa fa-sign-out pull-right"></i> Выйти из системы</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="right_col" role="main">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="x_panel">
<div class="x_content">
