<script>
	var AJAX     = '<?=AJAX?>';
	var MAIN     = '<?=MAIN?>';
	var CORE     = '<?=MAIN?>';
	var CONTROL  = '<?=MAIN?>control/';
	var AJAX_URL = CONTROL + 'ajax/';
	
</script>
<script src="<?=CORE_JS;?>jquery-1.11.0.min.js"></script>
<script>
$('#breadcrumbs-one').appendTo('.breadcrumb-place');
if(document.body.clientWidth <= '1100') {
	$('body').removeClass('nav-md');
	$('body').addClass('nav-sm');
	$('.left_col').removeClass('scroll-view');
	$('.left_col').removeAttr('style');
	$('.sidebar-footer').hide();

	if ($('#sidebar-menu li').hasClass('active')) {
		$('#sidebar-menu li.active').addClass('active-sm');
		$('#sidebar-menu li.active').removeClass('active');
	}
}
</script>
<script src="<?=CORE_LIB;?>modernizr.custom.85331.js"></script>
<script src="<?=CORE_JS;?>jquery-ui.1.11.2.min.js"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="<?=CORE_JS;?>cms.js"></script>
<script src="<?=CORE_JS;?>icheck.min.js"></script> 
<script src="<?=CORE_JS;?>bootstrap.min.js"></script>
<script src="<?=CORE_JS;?>moment.js"></script>
<script src="<?=CORE_JS;?>bootstrap-material-datetimepicker.js"></script>
<script src="<?=CORE_JS;?>footable.js"></script>
<script src="<?=CORE_JS;?>footable.paginate.js"></script>
<script src="<?=CORE_JS;?>footable.sort.js"></script>
<script src="<?=CORE_JS;?>footable.filter.js"></script>
<!--<script src="<?=CORE_LIB;?>jquery.ui.timepicker.js"></script>-->
<script src="<?=CORE_JS;?>bootstrap-notify.min.js"></script>
<script src="<?=CORE_LIB;?>jquery.nicescroll.min.js"></script>
<script src="<?=CORE_LIB;?>select2.full.js"></script>

<?for($i=0, $cnt=sizeof($arr); $i<$cnt; ++$i):?>
	<script src="<?=$arr[$i];?>"></script>
<?endfor;?>

<script>
	//var menu = $('nav.main_menu ul');
	//var pull = $('#pull');
	
	$(document).ready(function() {
		//change_menu();
//		
//		$(pull).on('click', function(e) {
//			e.preventDefault();
//			menu.slideToggle();
//		});
//		
//		$(window).resize(function(){
//			change_menu();
//			var w = $(window).width();
//			if(w > 320 && menu.is(':hidden')) {
//				menu.removeAttr('style');
//			}
//		});
		
		$('#exit, #exit_button').on('click', function(e){
			e.preventDefault();
			
			$.post(AJAX_URL, {type: 'exit'}, function(data){
				data = JSON.parse(data);
				
				if(data['code'] == 1) {
					$(location).attr('href', MAIN);
				}
				else {
					showNotify(data['text'], 'error');
				}
			});
		});
	});

	/*function change_menu(){
		var menuW = menu.width();
		var len   = menu.find('li').length;
		
		if(menu.width() > 600) {
			//menu.find('li').width(menuW / menu.find('li').length);
			menu.find('li').width(menuW / 7);
		}
		else{
			menu.find('li').width(menuW / 2);
		}
	}*/	
	
	
	function showNotify(text, type) {
		var icon = {
			'success': 'glyphicon glyphicon-ok-sign',
			'info':    'glyphicon glyphicon-info-sign',
			'warning': 'glyphicon glyphicon-warning-sign',
			'error':   'glyphicon glyphicon-remove-sign',
		}
		$.notify({
			message: text,
			icon: icon[type]
		},{
			type: type,
			placement: {
				from: "top",
				align: "center"
			},
		});
	}
</script>