<ul id="breadcrumbs-one">
	<li>Курс</li>
</ul>

<form id="edit_course" name="course_edit_course" method="post" action="<?=CONTROL?>course/update/" enctype='multipart/form-data'>
	<input type="hidden" name="course_id" id="bloc_on" value="<?=$course['course_id']?>"/>

	<div class="form-group">
		<input type="submit" name="course_save" value="Сохранить" title="Сохранить" class="btn btn-ui"/>
		<a href="<?=CONTROL?>course/" title="Отмена" class="btn btn-ui cancel">Отмена</a>
		<input type="reset" name="course_reset" value="Сброс" title="Сброс" class="btn btn-ui reset"/>
	</div>

	<div class="tab-card">
		<ul class="nav nav-tabs">
			<li class="active"><a href="" data-toggle="tab" data-target=".ru-cont">Русский</a></li>
			<li><a href="" data-toggle="tab" data-target=".en-cont">Английский</a></li>
		</ul>
		<div class="tab-content">
			<div class="ru-cont tab-pane fade in active">
				<div class="form-group">
					<label for="header">Название курса (рус.) <span class="required">*</span> :</label>
					<input class="form-control" size="85" maxlength="250" type="text"  name="course_name" placeholder="Название курса рус. (250)" title="Название курса рус. (250)" value="<?=$course['course_name']?>"/>
				</div>
				
				<div class="form-group">
					<label for="seo_descr">SEO description (рус.):</label>
					<input class="form-control" size="85" maxlength="250" type="text"  name="course_seo_descr" placeholder="SEO описание новости рус. (250)" title="SEO описание новости рус. (250)" value="<?=$course['course_seo_descr']?>"/>
				</div>

				<div class="form-group">
					<label for="seo_keywords">SEO keywords (рус.):</label>
					<input class="form-control" size="85" maxlength="250" type="text"  name="course_seo_keywords" placeholder="Ключевые слова рус. (250)" title="Ключевые слова рус. (250)" value="<?=$course['course_seo_keywords']?>"/>
				</div>
			</div>
			<div class="en-cont tab-pane fade">
				<div class="form-group">
					<label for="header_en">Название курса (en.) <span class="required">*</span> :</label>
					<input class="form-control" size="85" maxlength="250" type="text"  name="courses_name_en" placeholder="Название курса en. (250)" title="Название курса en. (250)" value="<?=$course['course_name_en']?>"/>
				</div>
				
				<div class="form-group">
					<label for="seo_descr_en">SEO description (en):</label>
					<input class="form-control" size="85" maxlength="250" type="text"  name="course_seo_descr_en" placeholder="SEO описание новости en (250)" title="SEO описание новости en (250)" value="<?=$course['course_seo_descr_en']?>"/>
				</div>

				<div class="form-group">
					<label for="seo_keywords_en">SEO keywords (en):</label>
					<input class="form-control" size="85" maxlength="250" type="text"  name="course_seo_keywords_en" placeholder="Ключевые слова en (250)" title="Ключевые слова en (250)" value="<?=$course['course_seo_keywords_en']?>"/>
				</div>
			</div>
		</div>
	</div>

	<div class="divider-dashed"></div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-4">
				<label for="add_date">Дата начала<span class="required">*</span> :</label>
				<div class="has-feedback">
					<input size="50" maxlength="50" name="course_start_date" type="text" class="form-control has-feedback-left datepicker" value="<?=$course['course_start_date']?>"><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-4">
				<label for="add_date">Дата конца<span class="required">*</span> :</label>
				<div class="has-feedback">
					<input size="50" maxlength="50" name="course_end_date" type="text" class="form-control has-feedback-left datepicker" value="<?=$course['course_end_date']?>"><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-4">
				<label for="add_date">Стоимость для студентов<span class="required">*</span> :</label>
				<div class="has-feedback">
					<input name="course_price_1" type="text" class="form-control" value="<?=$course['course_price_1']?>"><span class="" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-4">
				<label for="add_date">Стоимость за 30 дней<span class="required">*</span> :</label>
				<div class="has-feedback">
					<input name="course_price_2" type="text" class="form-control" value="<?=$course['course_price_2']?>"><span class="" aria-hidden="true"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="divider-dashed"></div>

	<div class="tab-card">
		<ul class="nav nav-tabs">
			<li class="active"><a href="" data-toggle="tab" data-target=".ru-cont">Русский</a></li>
			<li><a href="" data-toggle="tab" data-target=".en-cont">Английский</a></li>
		</ul>
		<div class="tab-content">
			<div class="ru-cont tab-pane fade in active">
				<div class="form-group">
					<label for="lead">Описание курса (rus) <span class="required">*</span> :</label>
					<textarea id="lead" name="course_lead" class="ckeditor">
						<?=$course['course_lead']?>
					</textarea>
				</div>
				
				<div class="form-group">
					<label for="program">Описание программы (rus) <span class="required">*</span> :</label>
					<textarea id="program" name="course_program" class="ckeditor">
						<?=$course['course_program']?>
					</textarea>
				</div>
				
				<div class="form-group">
					<label for="list">Список занятий (rus) <span class="required">*</span> :</label>
					<textarea id="list" name="course_list" class="ckeditor">
						<?=$course['course_list']?>
					</textarea>
				</div>
				
					<div class="form-group">
					<label for="list">Сертификация (rus) <span class="required">*</span> :</label>
					<textarea id="list" name="course_cert" class="ckeditor">
						<?=$course['course_cert']?>
					</textarea>
				</div>
			</div>

			<div class="en-cont tab-pane fade">
				<div class="form-group">
					<label for="lead_en">Описание курса (en) <span class="required">*</span> :</label>
					<textarea id="lead_en" name="course_lead_en" class="ckeditor">
						<?=$course['course_lead_en']?>
					</textarea>
				</div>
				
				<div class="form-group">
					<label for="program_en">Описание программы (en) <span class="required">*</span> :</label>
					<textarea id="program_en" name="course_program_en" class="ckeditor">
						<?=$course['course_program_en']?>
					</textarea>
				</div>
				
				<div class="form-group">
					<label for="list_en">Список занятий (en) <span class="required">*</span> :</label>
					<textarea id="list_en" name="course_list_en" class="ckeditor">
						<?=$course['course_list_en']?>
					</textarea>
				</div>
				
				<div class="form-group">
					<label for="list">Сертификация (en) <span class="required">*</span> :</label>
					<textarea id="list" name="course_cert_en" class="ckeditor">
						<?=$course['course_cert_en']?>
					</textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<input type="submit" name="course_save" value="Сохранить" title="Сохранить" class="btn btn-ui"/>
		<a href="<?=CONTROL?>course/" title="Отмена" class="btn btn-ui cancel">Отмена</a>
		<input type="reset" name="course_reset" value="Сброс" title="Сброс" class="btn btn-ui reset"/>
	</div>
</form>
