<ul id="breadcrumbs-one">
	<li><a href="" >Пользователи</a></li>
	<li><a href="<?=CONTROL?>users/">Список</a></li>
	<li><a href="" class="current"><?=$title?></a></li>	
</ul>

<form id="edit_users" name="edit_users" method="post" action="<?=CONTROL?>users/update/" enctype='multipart/form-data'>
	<input type="hidden" name="id" id="bloc_on" value="<?=$users['id']?>"/>
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<label>Фамилия:</label>
				<input class="form-control" type="text" size="85" maxlength="250" name="last_name" placeholder="Фамилия" title="Фамилия" value="<?=$users['lastname']?>"/>
			</div>
		</div>
	</div>
				
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<label>Имя:</label>
				<input class="form-control" type="text" size="85" maxlength="250" name="first_name" placeholder="Имя" title="Имя" value="<?=$users['firstname']?>"/>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<label>Отчество:</label>
				<input class="form-control" type="text" size="85" maxlength="250" name="patronymic" placeholder="Отчество" title="Отчество" value="<?=$users['patronymic']?>"/>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<label>Логин <span class="required">*</span> :</label>
				<input class="form-control" type="text" size="85" maxlength="250" name="login" placeholder="Логин" autocomplete="off" title="Логин" value="<?=$users['login']?>"/>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<label>Пароль <span class="required">*</span> :</label>
				<input class="form-control" type="text" size="85" maxlength="250" name="pass" placeholder="Пароль" autocomplete="off" title="Пароль" value="<?=$users['pass']?>"/>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<label>Email <span class="required">*</span> :</label>
				<input class="form-control" type="email" size="85" maxlength="250" name="email" placeholder="Почта" title="Почта" value="<?=$users['email']?>"/>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label>Права доступа:</label>
		<div><input type="checkbox" class="flat" name="user_rule[]" <?=((int)($users['rule'] & SET) > 0 ? 'checked' : '')?> value="<?=SET?>" /><label>Настройки</label></div>
		<div><input type="checkbox" class="flat" name="user_rule[]" <?=((int)($users['rule'] & COU) > 0 ? 'checked' : '')?> value="<?=COU?>" /><label>Курс</label></div>
		<div><input type="checkbox" class="flat" name="user_rule[]" <?=((int)($users['rule'] & EMP) > 0 ? 'checked' : '')?> value="<?=EMP?>" /><label>Пользователи</label></div>
		<div><input type="checkbox" class="flat" name="user_rule[]" <?=((int)($users['rule'] & PAR) > 0 ? 'checked' : '')?> value="<?=PAR?>" /><label>Регистрации</label></div>
		<div><input type="checkbox" class="flat" name="user_rule[]" <?=((int)($users['rule'] & ADS) > 0 ? 'checked' : '')?> value="<?=ADS?>" /><label>Отзывы</label></div>
		<div><input type="checkbox" class="flat" name="user_rule[]" <?=((int)($users['rule'] & FAQ) > 0 ? 'checked' : '')?> value="<?=FAQ?>" /><label>FAQ</label></div>
	</div>
				
				<div class="form-group">
					<input type="submit" name="save" value="Сохранить" title="Сохранить" class="btn btn-ui"/>
					<a href="<?=CONTROL?>users" title="Отмена" class="btn btn-ui cancel">Отмена</a>
					<input type="reset" name="reset" value="Сброс" title="Сброс" class="btn btn-ui reset"/>
				</div>
			</form>
