<ul id="breadcrumbs-one">
	<li><a href="#">Пользователи</a></li>
	<li><a href="" class="current">Список</a></li>	
</ul>	

<a href="<?=CONTROL?>users/add/" class="btn btn-ui">
	<i class="fa fa-plus fa-fw"></i> Добавить пользователя
</a>

<div id="magor_table">
	<table class="footable metro-blue toggle-arrow-tiny tablet" data-paging-size="20">
		<thead>
			<tr>
				<th width="70" data-toggle="true" data-type="numeric" data-class="first-cell">№</th>
				<th data-toggle="true">Пользователь</th>
				<th data-toggle="true">Логин</th>
				<th data-toggle="true">Почта</th>
				<th data-toggle="true">Последний визит</th>
				<th colspan="2" data-sort-ignore="true" data-class="middle-cell">Операции</th>
			</tr>
		</thead>	
		<tbody>
			<? for($i=0, $count=sizeof($users); $i < $count; ++$i): ?>
				<tr rel="<?=$users[$i]['id']?>">
					<td><?=($i + 1)?></td>
					<td><?=$users[$i]['name']?></td>
					<td><?=$users[$i]['login']?></td>
					<td><?=$users[$i]['mail']?></td>
					<td><?=$users[$i]['date']?></td>
					<td align="center"><a href="<?=CONTROL?>users/edit/<?=$users[$i]['id']?>/"  class="fa fa-edit" title="Редактировать"></a></td>
					<td align="center"><a href="#" class="fa fa-trash-o remove" title="Удалить" data-toggle="modal" data-target="#myModal"></i></td>
				</tr>
			<?php endfor; ?>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9">
					<div class="pagination pagination-centered hide-if-no-paging"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="dell_dlg"></div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" rel="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Удаление пользователя</h4>
      </div>
      <div class="modal-body">
        Вы уверены что хотите удалить указанного пользователя?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-danger remove_data">Удалить</button>
      </div>
    </div>
  </div>
</div>