.pages_listing {
    .nav-tabs {
        border: none;
        li {
            &.active {
                a {
                    border: none;
                }
            }
            a {
                border: none;
                border-radius: 0;
                &:hover {
                    border: none;
                }
            }
        }
    }
}

.page-pane {
    padding: 0;
    .page-btns {
        padding: 0 10px;
        margin: 0;
        border-top: 1px solid #eaeaea;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    }
}

.page-list {
    margin: 2px 0 2px;
    padding: 0;
    list-style: none;
    height: 300px;
    overflow-y: scroll;
    .page-item {
        padding: 5px 15px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
        margin-top: 3px;
        background: #fff;
        .item-settings-label {
            color: $handle-text;
            font-weight: normal;
            font-size: .9em;
            input[type="checkbox"] {
                margin-right: 10px;
            }
        }
    }
}

.settings-bar {
    background: #fff;
    padding: 15px 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.toggle-settings {
    position: absolute;
    color: $text-color-main;
    right: 5px;
    top: 5px;
    i {
        -webkit-transition: all 300ms ease-in 0s;
        -moz-transition: all 300ms ease-in 0s;
        -o-transition: all 300ms ease-in 0s;
        transition: all 300ms ease-in 0s;
        width: $icon-height;
        height: $icon-height;
        line-height: $icon-height;
        background: rgba(0, 0, 0, 0.05);
        text-align: center;
        border-radius: 50%;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
    }
}

.settings-active {
    i {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.dd-item-settings {
    .form-control {
        height: 30px;
        font-size: .9em;
        background: #f9f9f9;
    }
    display: none;
    color: $text-color-main;
    background: white;
    margin-top: -5px;
    padding: 10px 5px 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    border-top:1px solid #eaeaea;
    .item-settings-label {
        font-weight: normal;
        margin-top: 5px;
        font-size: .9em;
        margin-bottom: 0;
    }
    legend {
        font-size: 1em;
        color: $text-color-main;
    }
    .item-buttons {
        padding-top: 10px;
    }
}

button:focus {
    outline: none;
}

textarea:focus,
input.form-control:focus {
    outline: none;
    border: 1px solid $acent-color;
}

.item-name {
    color: $handle-text
}

.item-type {
    color: $acent-color;
    margin-left: 10px;
    font-style: italic;
}

.item-checkbox[type=checkbox] {
    margin-right: 5px;
}

.label-block {
    display: block;
}

.ui-btn {
    border: none;
    padding: 5px 10px;
    background: darken(#fff, 10%);
    color: lighten($handle-text, 10%);
    transition: all .2s ease-in;
    border-radius: 3px;
    display: inline-block;
    margin: 10px 20px 10px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: .9em;
    &.remove:hover {
        background: #ed5e5e;
    }
    &:hover {
        background: $acent-color;
        color: #fff;
    }
}