<ul id="breadcrumbs-one">
	<li>Участники</li>
	<li><a href="<?=CONTROL;?>participants/">Список</a></li>
	<li><?= $title?></li>	
</ul>

<form id="view_participants" name="view_participants" method="post"   class="form-horizontal form-label-left">
	<div class="tab-card">
		<ul class="nav nav-tabs">
			<li class="active"><a href="" data-toggle="tab" data-target=".personal">Личная Информация</a></li>
		</ul>
		
		<div class="tab-content">
			<div class="personal tab-pane fade in active">
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="surname">Фамилия:</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" id="surname" disabled class="form-control col-md-7 col-xs-12" value="<?= $participant['participants_last_name'] ?>"/> 
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Имя:</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" id="name" disabled class="form-control col-md-7 col-xs-12" value="<?= $participant['participants_first_name'] ?>"/> 
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="patronymic">Отчество:</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" id="patronymic" disabled class="form-control col-md-7 col-xs-12" value="<?= $participant['participants_patronymic'] ?>"/> 
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Телефон:</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" id="phone" disabled class="form-control col-md-7 col-xs-12" value="<?= $participant['participants_phone'] ?>"/> 
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">E-mail:</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" id="email" disabled class="form-control col-md-7 col-xs-12" value="<?= $participant['participants_email'] ?>"/> 
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="organization">Организация:</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" id="organization" disabled class="form-control col-md-7 col-xs-12" value="<?= $participant['participants_organization'] ?>"/> 
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-md-3 col-sm-3 col-xs-12" for="position">Должность:</label>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="text" id="position" disabled class="form-control col-md-7 col-xs-12" value="<?= $participant['participants_position'] ?>"/> 
					</div>
				</div>
			</div>
		</div>
	</div>
</form>