<ul id="breadcrumbs-one">
	<li><a href="<?=CONTROL?>participants">Участники</a></li>
	<li><a href="" class="current">Список</a></li>	
</ul>	

<form id="filter" method="post">
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
			<div class="input-group">
				<input type="input" size ="50" maxlength="50" name="filter" value ="<?=$info['filter']?>" placeholder="Введите критерии поиска" class="form-control"/>
				<span class="input-group-btn">
					<button type="submit" name="action" value="filter" alt="Фильтр" title="Фильтр" class="btn btn-ui"/>
					<i class="fa fa-filter"></i> Фильтр</button>
				</span>
			</div>
		</div>
    <div class="col-md-4 col-sm-4 col-xs-12 form-group">
			<button type="button" name="action" value="reset" alt="Сброс" title="Сброс" class="btn btn-ui reset"/>Сброс</button>
		</div>
	</div>
</form>
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="pull-left">
			<span title="Отметить все" class="btn btn-ui" id="collect">Отметить все</span>
			<span title="Снять" class="btn btn-ui" id="clear_all">Снять</span>
		</div>
		<div class="pull-right">
			<span title="Выгрузка текущего списка в csv" class="btn btn-ui csv">CSV</span>
			<span title="Выгрузка текущего списка в xls" class="btn btn-ui xls">XLS</span>
		</div>
	</div>
</div>
<div id="magor_table">
	<table class="footable metro-blue toggle-arrow-tiny tablet" data-paging-size="20">
		<thead>
			<tr>
				<th></th>
				<th data-toggle="true" data-type="numeric" data-class="first-cell">№</th>
				<th data-toggle="true">ФИО</th>
				<th data-toggle="true" data-hide="phone">Телефон</th>
				<th data-toggle="true" data-hide="phone">E-MAIL</th>
				<!--th data-toggle="true">Тип</th-->
				<th colspan="2"></th>

			</tr>
		</thead>	
		<tbody>
			<? for($i=0, $count=sizeof($participants); $i < $count; ++$i): ?>
				<tr rel="<?= $participants[$i]['id']?>">
					<td><input type="checkbox" class="collected"></td>
					<td><?= ($i + 1)?></td>
					<td><?= $participants[$i]['lastName'] . ' ' . $participants[$i]['firtName'] . ' ' . $participants[$i]['patronymic'] ?></td>
					<td><?= $participants[$i]['phone'] ?></td>
					<td><?= $participants[$i]['email'] ?></td>
					<td align="center">	<a href="#" class="fa fa-search show" title="Посмотреть"></a></td>
					<td align="center">	<a href="#" class="fa fa-trash-o remove" title="Удалить" data-toggle="modal" data-target="#myModal"></a></td>
				</tr>
			<?php endfor ?>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7">
					<div class="pagination pagination-centered hide-if-no-paging"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="dell_dlg"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" rel="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Удаление участника</h4>
      </div>
      <div class="modal-body">
        Вы уверены что хотите удалить указанного участника?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-danger remove_data">Удалить</button>
      </div>
    </div>
  </div>
</div>