<ul id="breadcrumbs-one">
	<li><a href="">FAQ</a></li>
	<li><a href="" class="current">Список</a></li>	
</ul>

<form id="filter" method="post">
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-12 form-group">
			<a href="<?=CONTROL?>faq/add/" class='btn btn-ui'> <i class="fa fa-plus fa-fw"></i> Добавить вопрос</a>
		</div>
		
		<div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
			<div class="input-group">
				<input type="input" size ="50" maxlength="50" name="filter" value ="<?=$filter?>" placeholder="Введите критерии поиска" class="form-control"/>
				<span class="input-group-btn">
					<button type="submit" name="action" value="filter" alt="Фильтр11" title="Фильтр" class="btn btn-ui"/>
					<i class="fa fa-filter"></i> Фильтр</button>
				</span>
			</div>
		</div>
		
		<div class="col-md-4 col-sm-4 col-xs-12 form-group">
			<button type="button" name="action" value="reset" alt="Сброс" title="Сброс" class="btn btn-ui reset"/>Сброс</button>
		</div>
	</div>
</form>

<div id="magor_table">
	<table class="footable metro-blue toggle-arrow-tiny tablet" data-paging-size="20">
		<thead>
			<tr>
				<th data-toggle="true" data-type="numeric" data-class="first-cell">№</th>
				<th data-toggle="true" data-hide="phone">Вопрос</th>
				<th data-toggle="true" data-hide="phone">Ответ</th>
				<th data-toggle="true" data-hide="phone">Порядок</th>
				<th colspan="2" data-sort-ignore="true" data-class="middle-cell">Операции</th>
			</tr>
		</thead>
		<tbody>			
			<?for($i=0, $count=sizeof($faq); $i < $count; ++$i): ?>
				<tr rel="<?=$faq[$i]['faq_id']?>">
					<td><?=($i + 1)?></td>
					<td><?=$faq[$i]['faq_question']?></td>
					<td><?=$faq[$i]['faq_answer']?></td>
					<td><?=$faq[$i]['faq_sort']?></td>
					<td align="center"><a href="<?=CONTROL?>faq/edit/<?=$faq[$i]['faq_id']?>/" class="fa fa-edit" title="Редактировать"></a></td>
					<td align="center"><a href="#" class="fa fa-trash-o remove" title="Удалить" data-toggle="modal" data-target="#myModal"></a></td>
				</tr>
			<?endfor?>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7">
					<div class="pagination pagination-centered hide-if-no-paging"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="dell_dlg"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" rel="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Удаление вопроса</h4>
      </div>
      <div class="modal-body">
        Вы уверены что хотите удалить указанный вопрос?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-danger remove_data">Удалить</button>
      </div>
    </div>
  </div>
</div>