<ul id="breadcrumbs-one">
	<li>FAQ</li>
	<li><a href="<?=CONTROL?>faq/">Список</a></li>
	<li><a href="" class="current"><?=$title?></a></li>	
</ul>

<form id="edit_faq" name="edit_faq" method="post" action="<?=CONTROL?>faq/update/" enctype='multipart/form-data'>
	<input type="hidden" name="faq_id" id="bloc_on" value="<?=$faq['id']?>"/>
	
	<div class="form-group">
		<input type="submit" name="save" value="Сохранить" title="Сохранить" class="btn btn-ui"/>
		<a href="<?=CONTROL?>faq/" title="Отмена" class="btn btn-ui cancel">Отмена</a>
		<input type="reset" name="reset" value="Сброс" title="Сброс" class="btn btn-ui reset"/>
	</div>
	
	<div class="form-group">
		<label for="faq_sort">Сортировка:</label>
		<input id="faq_sort" class="form-control" size="85" type="number" min="0" name="faq_sort" placeholder="0" title="Сортировка" value="<?=$faq['sort']?>"/>
	</div>
	
	<div class="form-group">
		<label for="faq_question">Вопрос <span class="required">*</span> :</label>
		<input id="faq_question" class="form-control" size="85" type="text"  maxlength="250" name="faq_question" placeholder="Вопрос (250)" title="Вопрос (250)" value="<?=$faq['question']?>"/>
	</div>
	
	<div class="form-group">
		<label for="faq_answer">Ответ <span class="required">*</span> :</label>
		<textarea id="faq_answer" name="faq_answer" class="ckeditor">
			<?=$faq['answer']?>
		</textarea>
	</div>
	
	<div class="form-group">
		<input type="submit" name="save" value="Сохранить" title="Сохранить" class="btn btn-ui"/>
		<a href="<?=CONTROL?>faq/" title="Отмена" class="btn btn-ui cancel">Отмена</a>
		<input type="reset" name="reset" value="Сброс" title="Сброс" class="btn btn-ui reset"/>
	</div>
</form>