@charset "UTF-8";
@import url('reset.css');/*//сброс*/
@import url('layout.css');/*//верстка вида*/
@import url('form.css');/*//описание форм*/
@import url('fonts.css');/*//наши шрифты*/
@import url('ui.css');/*//кнопки и календарь*/
@import url('font-awesome.min.css');/*//шрифтовые иконки*/
/*служебные классы*/
#am_section{ margin:0 auto; width:940px;position:relative;}
.flt_left {
	float: left;
}
.flt_right {
	float: right;
}
.flt_clear {
	clear: both;
}
.center_align {
	margin: 0 auto;
}
.auth_logo {
	position: absolute;
	top: 10px;
	z-index: 10;
}
.am_blue {
	color: #00669b;
}
.menu_line {
	background: url('../img/am_h.png') #fff repeat-x bottom;
}
footer h1, h3 {
	text-align: center;
	font-weight: 100;
	padding-top: 5px;
	line-height: 20px;
}
footer h1 {
	text-shadow: 0px -1px -2px #4d4d4d;
	color: #888;
	font-size: 1.3em;
	font-family: "bromoregular", Arial, sans-serif;
	letter-spacing: 0.05em
}
.scroll-to-top-button {
	opacity: 0.8;
	position: absolute;
	top: 456px;
	right: 0px;
	display: none;
}
/*меню админки*/
.am_menu_block, h1, h2, h3, h4, h5, h6 {
	font-family: "bromoregular", Arial, sans-serif;
}
.am_menu_block a {
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	color: #333;
}
.am_menu_block a:hover {
	color: #2a9fc2;
}
.cw_logo {
	background: no-repeat url('../img/cw_logo_empty.png');
	width: 132px;
	height: 65px;
	float: left;
	display: block;
	margin: 20px 20px 10px;
}
.cw_icon {
	position: relative;
	left: 75px;
}

.am_pad {
	display: block;
	padding: 50px 5px 0px;
}
.pager_ul li {
	display: inline-block;
	padding: 0px;
}
.tree_img {
	display: inline-block;
	margin: 0px 5px 0px;
}
#map_canvas_win {
	width: 100%;
	height: 400px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 1px 1px 2px 2px #ccc;
	box-shadow: 1px 1px 2px 2px #ccc;
	margin-bottom: 10px;
}
.sample-menu .fa {
	margin: 0px 5px;
}
/* Clearfix */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}
nav {
	width: 100%;
	font-size: 0.8em;
	font-family: "bromoregular", Arial, sans-serif;
	position: relative;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 940px;
	border: 1px solid #bfbfbf;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	background: #cfd1cf;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#cfd1cf));
	background-image: -moz-linear-gradient(top, #ebebeb, #cfd1cf);
	background-image: -webkit-linear-gradient(top, #ebebeb, #cfd1cf);
	background-image: -o-linear-gradient(top, #ebebeb, #cfd1cf);
	background-image: -ms-linear-gradient(top, #ebebeb, #cfd1cf);
	background-image: linear-gradient(top, #ebebeb, #cfd1cf);
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ebebeb', endColorstr='#cfd1cf');
}
nav li {
	display: inline;
	float: left;
	width: calc(100% / 6);
}
nav a {
	color: #4c4c4c;
	display: inline-block;
	/*width: 100px;*/
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 0 1px 0 #fff;
}
nav li a {
	border-right: 1px solid #bfbfbf;
	text-transform: uppercase;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	color: #2a9fc2;
	background-image: -moz-linear-gradient(270deg, rgba(255,255,255,0.79) 0%, rgba(128,200,242,0.81) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b9e0f5), color-stop(100%, #92bdd6));
	background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0.79) 0%, rgba(128,200,242,0.81) 100%);
	background-image: -o-linear-gradient(270deg, rgba(255,255,255,0.79) 0%, rgba(128,200,242,0.81) 100%);
	background-image: -ms-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%);
	background-image: linear-gradient(180deg, rgba(255,255,255,0.79) 0%, rgba(128,200,242,0.81) 100%);
	-webkit-box-shadow: none 0px;
	-moz-box-shadow: none;
	box-shadow: none 0px;
	width: 100%;
}
nav #pull, nav a#exit {
	display: none;
}
.adm_exit {
	display: block;
	position: fixed;
	top: 0px;
	right: 10px;
	font-size: 16px;
}
.adm_exit a:hover {
	background: none;
}
.image_block{ width:200px; position:relative;}
.file_block{width: 48px; position:relative;}
.image_block img{ max-width:100%;}
.image_block .rounded, .file_block .rounded { position:absolute; top: -6px;
right: -6px; cursor:pointer; color:red;}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
#am_section{width:100%;position:relative;}
nav {
	height: auto;
}
nav ul {
	width: 100%;
	display: block;
	height: auto;
}
nav li {
	width: 50%;
	float: left;
	position: relative;
}
nav li a {
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}
nav a {
	text-align: left;
	width: 100%;
	text-indent: 25px;
}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
#am_section{width:100%;position:relative;}
nav {
	border-bottom: 0;
}
nav ul {
	display: none;
	height: auto;
}
nav .adm_exit {
	display: none;
}
nav #pull{
	display:block;
	border: 1px solid #bfbfbf;}
nav #pull a {
	display: block;
	text-transform:uppercase;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	background: #cfd1cf;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#cfd1cf));
	background-image: -moz-linear-gradient(top, #ebebeb, #cfd1cf);
	background-image: -webkit-linear-gradient(top, #ebebeb, #cfd1cf);
	background-image: -o-linear-gradient(top, #ebebeb, #cfd1cf);
	background-image: -ms-linear-gradient(top, #ebebeb, #cfd1cf);
	background-image: linear-gradient(top, #ebebeb, #cfd1cf);
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ebebeb', endColorstr='#cfd1cf');
	cursor: pointer;
	width: 100%;
	position: relative;
}
nav #pull a:after {
	content: "\f0c9";
	width: 30px;
	height: 30px;
	display: inline-block;
	font-size: 16px;
	font-family: FontAwesome;
	position: absolute;
	right: 35px;
	top: 3px;
}
nav a#exit{ display:block;
position: relative;
background:none;
top:0px;
right:5px;
width:32px;
z-index:9999;}
nav a#exit:after {
	content: "\f08b";
	width: 30px;
	height: 30px;
	display: inline-block;
	font-size: 16px;
	font-family: FontAwesome;
	position: absolute;
	right: 35px;
	top: 0px;
}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
nav li {
	display: block;
	float: none;
	width: 100%;
}
nav li a {
	border-botom: 1px solid #bfbfbf;
}
nav .adm_exit {
	display: none;
}
}

.float_left {
	float: left;
    padding-right: 100px;
}

.clear {
	clear: both;
}

#nestable .dd-handle, #nestable2 .dd-handle {height: auto;}