/*  demo page CSS for evol.colorpicker  */
/*  https://github.com/evoluteur/colorpicker */

.demoPanel {
  float: left;
  border: 2px solid #A7C8E2;
  margin: 4px 3px;
  padding: 10px;
  width: 212px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.demoPanel input {
  width: 100px;
}

