body{background-color: #edeff1;}
form.val{
	background:#fff;
	border-radius:0;
	border:1px solid #ccc;
	padding:20px;
	margin-top:20px;
	margin-bottom:20px;
	webkit-box-shadow: 0 2px 1px rgba(0,1,1,.08);
	-moz-box-shadow: 0 2px 1px rgba(0,1,1,.08);
	box-shadow: 0 2px 1px rgba(0,1,1,.08);	
}
form.val .input-group{
	margin:15px  0;}