.footable {
  border-collapse: separate;
  border-spacing: 0;
  /*border: 1px solid #cccccc;*/
  font-family: 'trebuchet MS', 'Lucida sans', Arial;
  font-size: 11px;
  color: #444444;
  background: #ffffff;
  margin-top:15px;
	webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);

}

.footable > thead > tr > th {
  padding: 10px;
  text-align: left;
}
.footable ul a{
	color: #2a9fc2;}
.footable > thead > tr > th,
.footable > thead > tr > td {
/*-moz-box-shadow: 0 1px 0 #fff inset;
-webkit-box-shadow: 0 1px 0 #fff inset;
box-shadow: 0 1px 0 #fff inset;*/
background: #e7e7e7;
color: #4c4c4c;
/*text-shadow: 0 1px 0 #fff;*/
font-weight: bold;
font-size: 12px;
padding:7px 20px 7px 15px;
/*background-image:-webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#cfd1cf));
background-image:-moz-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:-webkit-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:-o-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:-ms-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:linear-gradient(top,#ebebeb,#cfd1cf);
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ebebeb',endColorstr='#cfd1cf');*/
cursor: pointer;
}
.footable > thead > tr > th.footable-first-column,
.footable > thead > tr > td.footable-first-column {
  border-left: none;
}

.footable.breakpoint > tbody > tr.footable-row-detail {
  background: #eeeeee;
}
.footable.breakpoint > tbody > tr.footable-row-detail > .footable-row-detail-cell {
  border-left: none;
}
.footable > tbody img {
  vertical-align: middle;
}
.footable > tbody > tr:hover {
  background: #fbf8e9;
}
.footable > tbody > tr > td {
border-top: 1px solid #fefefe;
border-bottom: 1px solid #e8eaed;
background-color: #fafafa;
border-left: 1px solid #eee;
padding: 10px;
}
.footable > tbody > tr:nth-child(even) td, .zebra {
    background-color: #f1f4f7;
	border-top:1px solid #fefefe;
	border-bottom:1px solid #e8eaed;
}
.footable > tbody > tr > td.footable-first-column {
  border-left: none;
}
.footable > tfoot > tr > th,
.footable > tfoot > tr > td {
	background: #e7e7e7;
/*background-color: #dce9f9;*/
/*background-image:-webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#cfd1cf));
background-image:-moz-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:-webkit-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:-o-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:-ms-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:linear-gradient(top,#ebebeb,#cfd1cf);
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ebebeb',endColorstr='#cfd1cf');
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;*/
border-top: 1px solid #cccccc;
/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
padding: 10px;
}
.footable .pagination {
  margin: 20px 0;
}
.footable .pagination > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ffffff;
}
.footable .pagination > ul > li {
  display: inline;
}
.footable .pagination > ul > li > a,
.footable .pagination > ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid #cccccc;
  border-left-width: 0;
}

.footable .pagination > ul > li > a:hover,
.footable .pagination > ul > li > a:focus,
.footable .pagination > ul > .active > a,
.footable .pagination > ul > .active > span {
  background-color: #eeeeee;
}
.footable .pagination > ul > .active > a,
.footable .pagination > ul > .active > span {
  color: #444444;
  cursor: default;
}
.footable .pagination > ul > .disabled > span,
.footable .pagination > ul > .disabled > a,
.footable .pagination > ul > .disabled > a:hover,
.footable .pagination > ul > .disabled > a:focus {
  color: #cccccc;
  cursor: default;
  background-color: #ebf3fc;
}
.footable .footable-last-column{
	text-align:center;}
.footable .pagination.pagination-centered {
  text-align: center;
}
.footable .pagination.pagination-right {
  text-align: center;
}
.footable-odd {
  background-color: #f7f7f7;
}
.footable > tbody > tr > td.first-cell{
	vertical-align: middle;
	text-align:center;
	width:60px;}
.footable > tbody > tr > td.middle-cell,
.footable > tbody > tr > th.middle-cell{
	vertical-align: middle;
	text-align:center;
}
.footable a.fa{
font-size:1.4em;
text-decoration:none;
color: #555;
text-shadow: 0 1px 0 #fff;
display: block;
margin:0 5px;
}
.footable a.fa.disadled{
color: #aaa;
}
.footable a.fa:hover{
color:black!important;
text-shadow: 0 1px 0 #fff;
}