/* GLOBALS */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.form-1 {
    /* Size & position */
    width: 300px;
    margin: 30px auto 30px;
    padding: 100px 10px 10px;
    position: relative; /* For the submit button positioning */
    /* Styles */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),  0 3px 7px rgba(0, 0, 0, 0.3),  inset 0 1px rgba(255,255,255,1),  inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: white; /* Fallback */
    background: -moz-linear-gradient(#eeefef, #ffffff 10%);
    background: -ms-linear-gradient(#eeefef, #ffffff 10%);
    background: -o-linear-gradient(#eeefef, #ffffff 10%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeefef), color-stop(0.1, #ffffff));
    background: -webkit-linear-gradient(#eeefef, #ffffff 10%);
    background: linear-gradient(#eeefef, #ffffff 10%);
}
.form-1 .field {
    position: relative; /* For the icon positioning */
}
.form-1 .field i {
    /* Size and position */
    left: 0px;
    /* top: 0px;*/ top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;
    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}
.form-1 input[type=text], .form-1 input[type=password] {
    font-family: 'Bromo', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;
    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1),  inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}
.form-1 input[type=text] {
    margin-bottom: 10px;
}
.form-1 input[type=text]:hover ~ i, .form-1 input[type=password]:hover ~ i {
    color: #52cfeb;
}
.form-1 input[type=text]:focus ~ i, .form-1 input[type=password]:focus ~ i {
    color: #42A2BC;
}
.form-1 input[type=text]:focus, .form-1 input[type=password]:focus, .form-1 button[type=submit]:focus {
    outline: none;
}
.form-1 .submit {
    /* Size and position */
    width: 65px;
    height: 65px;
    position: absolute;
    /* top: 17px;*/ top: 105px;
    right: -25px;
    padding: 10px;
    z-index: 2;
    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.1),  0 3px 2px rgba(0,0,0,0.1),  inset 0 -3px 2px rgba(0,0,0,0.2);
}
.form-1 .submit:after {
    /* Size and position */
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 30px;
    /* Styles */
    background: #ffffff;
    /* Other masks trick */
    box-shadow: 0 62px white, -32px 31px white;
}
.form-1 button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;
    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;
    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: #52cfeb; /* Fallback */
    background: -moz-linear-gradient(#52cfeb, #42A2BC);
    background: -ms-linear-gradient(#52cfeb, #42A2BC);
    background: -o-linear-gradient(#52cfeb, #42A2BC);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
    background: -webkit-linear-gradient(#52cfeb, #42A2BC);
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),  0 1px 2px rgba(0,0,0,0.35),  inset 0 3px 2px rgba(255,255,255,0.2),  inset 0 -3px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}
.form-1 button:hover, .form-1 button[type=submit]:focus {
    background: #52cfeb;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.form-1 button:active {
    background: #42A2BC;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3),  inset 0 3px 4px rgba(0,0,0,0.3);
}
.form-1 .error_code {
    color: red;
    padding: 10px;
    font-family: "Bromo", Arial, sans-serif;
    margin: 10px auto 0px;
    width: 200px;
    font-size: 0.9em;
}
.frm {
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    background: #f0fafb;
    border: 1px solid #d6eae7;
}
.mac {
    display: inline-block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    background: linear-gradient(#eee, #fff);
    box-shadow: inset 0 2px 0 rgba(0,0,0,.2),  0 0 4px rgba(0,0,0,0.1);
}
.mac:focus {
    outline: none;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.2),  0 0 4px rgba(0,0,0,0.1),  0 0 5px 1px #51CBEE;
}
/*************************
 Стили для таблиц */
table.tablesorter {
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #CDCDCD;
    margin: 25px 0px 30px;
    font-size: 12px;
    width: 100%;
    text-align: left;
	border:1px solid #bfbfbf;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
border-bottom: 1px solid #bfbfbf;
border-right:1px solid #bfbfbf;
border-top: 1px solid #bfbfbf;
-moz-box-shadow: 0 1px 0 #fff inset;
-webkit-box-shadow: 0 1px 0 #fff inset;
box-shadow: 0 1px 0 #fff inset;
background: #cfd1cf;
background-image: -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#cfd1cf));
background-image: -moz-linear-gradient(top,#ebebeb,#cfd1cf);
background-image: -webkit-linear-gradient(top,#ebebeb,#cfd1cf);
background-image: -o-linear-gradient(top,#ebebeb,#cfd1cf);
background-image: -ms-linear-gradient(top,#ebebeb,#cfd1cf);
background-image: linear-gradient(top,#ebebeb,#cfd1cf);
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ebebeb',endColorstr='#cfd1cf');
color: #4c4c4c;
text-shadow: 0 1px 0 #fff;
font-weight: bold;
font-size: 12px;
padding:7px 20px 7px 15px;
}
table.tablesorter thead tr .header {
	background: #cfd1cf;
background-image:url(../img/bg.gif), -webkit-gradient(linear,left top,left bottom,from(#ebebeb),to(#cfd1cf));
background-image:url(../img/bg.gif), -moz-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:url(../img/bg.gif), -webkit-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:url(../img/bg.gif),-o-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:url(../img/bg.gif), -ms-linear-gradient(top,#ebebeb,#cfd1cf);
background-image:url(../img/bg.gif), linear-gradient(top,#ebebeb,#cfd1cf);
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ebebeb',endColorstr='#cfd1cf');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer
}
table.tablesorter tbody td {
   color: #3D3D3D;
   font-size:11px;
   line-height:1.2;
	border-top:1px solid #fefefe;
	border-bottom:1px solid #e8eaed;
    padding:7px 10px;
    background-color:#fafafa;
    vertical-align: middle;
}
table.tablesorter tbody tr.odd td {
    background-color: #f1f4f7;
	border-top:1px solid #fefefe;
	border-bottom:1px solid #e8eaed;
}
table.tablesorter tbody tr td:nth-last-child(3){
	border-left:1px solid #eee;
}
table.tablesorter tbody tr td:first-child {
	border-right:1px solid #eee;
	text-align: center;
}

table.tablesorter thead tr .headerSortUp {
outline: none;
color: #1c4257;
border: 1px solid #7096ab;
background-image:url(../img/asc.gif),-moz-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%);
background-image:url(../img/asc.gif),-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9e0f5), color-stop(100%,#92bdd6));
background-image:url(../img/asc.gif),-webkit-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%);
background-image:url(../img/asc.gif),-o-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%);
background-image:url(../img/asc.gif),-ms-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%);
background-image:url(../img/asc.gif),linear-gradient(top, #b9e0f5 0%,#92bdd6 100%);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
table.tablesorter thead tr .headerSortDown {
outline: none;
color: #1c4257;
border: 1px solid #7096ab;
background-image:url(../img/desc.gif),-moz-linear-gradient(top, #b9e0f5 0%, #92bdd6 100%);
background-image:url(../img/desc.gif),-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9e0f5), color-stop(100%,#92bdd6));
background-image:url(../img/desc.gif),-webkit-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%);
background-image:url(../img/desc.gif),-o-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%);
background-image:url(../img/desc.gif),-ms-linear-gradient(top, #b9e0f5 0%,#92bdd6 100%);
background-image:url(../img/desc.gif),linear-gradient(top, #b9e0f5 0%,#92bdd6 100%);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.tablesorter a.fa{
font-size:1.4em;
text-decoration:none;
color: #555;
text-shadow: 0 1px 0 #fff;
display: block;
margin:0 5px;
}
.tablesorter a.fa.disadled{
color: #aaa;
}
.tablesorter a.fa:hover{
color:blue!important;
text-shadow: 0 1px 0 #fff;
}

.am_bread_crumbs h1 {
    text-align: center;
    font-size: 1em;
    padding: 10px;
}
.am_back {
    background: url('../img/back.png') no-repeat;
    padding: 5px 10px 5px 28px;
    display: block;
}
.am_add {
    background: url('../img/add.png') no-repeat;
    padding: 5px 10px 5px 28px;
    display: block;
}
.am_forw {
    background: url('../img/forw.png') no-repeat right;
    padding: 5px 28px 5px 10px;
    display: block;
}
.am_edit {
    background: url('../img/modify.png') no-repeat center;
    margin: 0px 5px;
    width: 24px;
    height: 24px;
    display: block;
}
.am_del {
	font-size:1.9em;
	text-decoration:none;
	text-shadow: 0 1px 0 #fff;
	color: #4c4c4c;
    /*background: url('../img/del.png') no-repeat center;*/
	margin:0px 5px;
    display: block;
}
.am_add_album {
    background: url('../img/add_album.png') no-repeat center;
    margin: 0px 5px;
    width: 24px;
    height: 24px;
    display: block;
}
.am_del_dis {
    background: url('../img/delete_dis.png') no-repeat center;
    margin: 0px 5px;
    width: 24px;
    height: 24px;
    display: block;
}
.am_add, .am_back, .am_forw, .sel_menu {
    font-family: "Bromo", Arial, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    color: #00374b;
}
.ul_bar {
    margin: 10px 0px;
}
.ul_bar .mac {
    margin: 0px 5px 0px 100px;
}
form {
    font-family: "Bromo", Arial, sans-serif;
}
.form_block {
    padding: 5px;
}
.form_block label {
    padding: 5px 5px;
    font-size: 1em;
    display: inline-block;
}
.margin_lft_10 {
    margin-left: 10px;
}
.margin_rgt_10 {
    margin-right: 10px;
}
.pager {
    margin: 5px;
}
.submit_div {
    position: absolute;
    top: 40px;
    right: 350px
}
.submit_div_left {
    position: absolute;
    top: 40px;
    left: 170px
}
.cell_oper {
    width: 100px;
}

.socle {
    position: relative;
    z-index: 2;
}
.socle:after {
    content: "";
    z-index: -1;
    position: absolute;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),  inset 0 -1px 0 rgba(255,255,255,0.7);
    top: -6px;
    bottom: -6px;
    right: -6px;
    left: -6px;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
}
.inline_bl {
    display: inline-block;
}
.form_uploadify {
    width: 400px;
}
ul#am_gallery {
    width: 920px;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
}
#am_gallery li {
    float: left;
    padding: 15px;
    width: 120px;
    height: 120px;
}
#am_gallery li div {
    display: block;
    overflow: hidden;
    width: 113px;
    height: 113px;
    border: solid 1px #e1e1e1;
    text-align: center;
    vertical-align: middle;
    padding: 4px;
    background: #fff;
}
#am_gallery li div img.horiz {
    padding: 15px 0px;
}
#am_gallery li div img.vert {
    padding: 0px 4px;
}
.placeHolder div {
    background-color: white!important;
    border: dashed 1px gray !important;
}
li.record {
    margin: 10px;
    padding: 5px;
    background: #fff;
}
.record textarea {
    max-width: 720px;
}
.ph_box {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    overflow: hidden;
    background: #fff;
}
.delbutton {
    margin: 40px 10px 0px;
}
/*.ph_box img{ max-height:90px; max-width:90px;}*/
.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px Arial;
}
/*********Layout options**********/
.cw_section form {
    padding: 0px 50px;
}
.labl {
    font-size: 1.2em;
    padding: 10px 5px;
    margin-top: 25px;
}
section.submit{
    margin:20px auto;
    padding:0px;
    width:25%;
}
.submit input{
    font-size:.9em;
}
.submit input:first-child{
    margin-left:0px;
}
.ta10 {
  background-color: #eee;
  width:100%;
  min-width:100%;
  background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fff), color-stop(100%, #efefef));
  background: -moz-linear-gradient(top, #fff, #efefef);
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
  border: solid 1px #C5C5C5;
  padding: 3px 8px ;
  text-shadow: 0px 1px 1px white;
  margin:15px 0px 10px;
  outline: none;
  display: block;
}

/*  Button styles */
.modern {
    display: inline-block;
    margin: 10px;
    padding: 8px 15px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    transition: all 0.3s ease-out;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),  0 2px 2px rgba(0,0,0,0.3),  0 0 4px 1px rgba(0,0,0,0.2);
    /* Font styles */
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.7);
    outline: none;
}
.m-blue{
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiYTBlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMzYmEwZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWQwZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #3ba0ea 0%, #3ba0ea 1.03%, #8ad0fb 100%);
	background-image: -o-linear-gradient(bottom, #3ba0ea 0%, #3ba0ea 1.03%, #8ad0fb 100%);
	background-image: -webkit-linear-gradient(bottom, #3ba0ea 0%, #3ba0ea 1.03%, #8ad0fb 100%);
	background-image: linear-gradient(bottom, #3ba0ea 0%, #3ba0ea 1.03%, #8ad0fb 100%);
	font-weight:bold;
}
.m-green {
    background: #CEFEAC;
}
.m-red {
    background: rgba(254,172,172,0.81);
}
.m-green:hover {
    background: #A1FE76;
}
.m-red:hover {
    background: #FE8B76;
}
.embossed-link {
    box-shadow: inset 0 3px 2px rgba(255,255,255,.22),  inset 0 -3px 2px rgba(0,0,0,.17),  inset 0 20px 10px rgba(255,255,255,.12),  0 0 4px 1px rgba(0,0,0,.1),  0 3px 2px rgba(0,0,0,.2);
}
.modern.embossed-link {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),  0 2px 2px rgba(0,0,0,0.3),  0 0 4px 1px rgba(0,0,0,0.2),  inset 0 3px 2px rgba(255,255,255,.22),  inset 0 -3px 2px rgba(0,0,0,.15),  inset 0 20px 10px rgba(255,255,255,.12),  0 0 4px 1px rgba(0,0,0,.1),  0 3px 2px rgba(0,0,0,.2);
}
.modern.embossed-link:active{
    box-shadow: inset 0 -2px 1px rgba(255,255,255,0.2),  inset 0 3px 2px rgba(0,0,0,0.12);
}

@media screen and (max-width:768px) {
.cw_section form {
    padding: 0!important;
}
}
