*{ margin:0; padding:0;}
html, body {
	height: 100%;
}
#am_wrapper{
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -50px;}
#am_push,footer{height: 50px;}
header .am_menu_block{width:940px; margin:0 auto;}
.am_form{padding:5px;}
body{
    font-family: 'bromoregular',Arial,sans-serif;
}

.red{background:red;}
.blue{background:blue;}
.green{background:green;}
.gray_pat{font-family:'bromoregular',Arial,sans-serif;background:url('../img/patterns/gray_h_bg.gif'); padding-top:12px;}
.caramel_pat{font-family:'bromoregular',Arial,sans-serif;background:url('../img/patterns/caramel_grain.jpg');}
.wood_wall{ background:url('../img/wood_pattern.jpg');}
.grain_wall{background:url('../img/branding.png');}
.apple_pat{background:url('../img/patterns/apple_pat.png');}
.lined_pat{background:url('../img/patterns/lined_pat.png') repeat-x;}
.top_lined{ height:100px; position:relative; z-index:2;}
.errors_display_block{ background: #ffcdd1 url('../img/patterns/dbl_line_bg_pat.png');border: 1px solid #e10c0c; padding:5px;}
.err_sq{float:right;width:430px; margin:5px;}
ul.sample-menu {
	padding:0;
	margin:10px 15px;
}
ul.sample-menu li {
	padding:5px 0;
	margin:0;
	list-style:none;
}
ul.sample-menu li ul {
	padding:0;
	margin:0 0 0 15px;
}
ul#my-menu a {
	padding-left:8px;
	text-decoration:none;
	color:#666;
}
ul#my-menu a.collapsed {
	background:url('../img/collapsed.gif') left 6px no-repeat;
}
ul#my-menu a.expanded {
	background:url('../img/expanded.gif') left 6px no-repeat;
}

