@charset "utf-8";
/* CSS Document */
*
{
 margin: 0;
 -webkit-text-size-adjust:none
}
html
{
 height:100%;
/*background-image:url(../im/wood.jpg);*/
}
img
{
 border:0px;
}
/*body
{
 padding:0;
 margin:0;
 font-size:14px;
 line-height:14px;
 font-family: Arial, Tahoma;
 height:100%;
 background-image:url(../im/wood.jpg);
}*/
#page_wrapper
{
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -50px;
 min-width:1024px;
 width:1024px;
 background-color:#FFF;
 /*-moz-box-shadow: 0 0 3px 3px #333;
 -webkit-box-shadow: 0 0 3px 5px #333;
 box-shadow: 0 0 3px 3px #333;*/
}
#page_wrapper0
{
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -50px;
 min-width:1024px;
 width:1024px;
 background-color:#FFF;
 -moz-box-shadow: 0 0 3px 3px #333;
 -webkit-box-shadow: 0 0 3px 3px #333;
 box-shadow: 0 0 3px 3px #333;
}
#page_body
{
 margin:0 auto;
 width:1024px;
}
#page_push
{
 height: 50px;
}
#page_push0
{
 height: 50px;
}
#page_header
{
 margin:0 auto 15px;
 background: url(../im/top_hdr.jpg) no-repeat;
 height:200px;
 width:1024px;
 background-color:#FFF;
}
#page_footer
{
 margin:0 auto;
 height:50px;
 width:1024px; /*background-color:#0C6;*/
 background-color:#474747;
 background:url(../im/main-bg1.png) repeat-x;
}
#page_footer0
{
 margin:0 auto;
 height:50px;
 width:1024px; /*background-color:#0C6;*/
 background:url(../im/main-bg1.png) repeat-x;
 text-align:center;
 color:#fff;
}
#page_content
{
 display: block;
 padding-left:50px;
 padding-top:0px;
 /*background-color:#FFF;*/
	text-decoration:none;
}
#page_content_form
{
 display: block;
 padding-left:20px;
 padding-top:0px;
 /*background-color:#FFF;*/
	text-decoration:none;
}
#page_content p
{
 line-height:1.5em;
}
#auth
{
 width:293px;
}
/********************************************************************/
#page_menu
{
 /*color:#0076a1;*/
	display:block;
 color:#474747;
 line-height:16px;
 text-transform:uppercase;
 padding:0px auto 30px;
 height:41px;
 background:url(../im/main-bg.png) repeat-x;
}
#page_menu a
{
 text-decoration:none;
 font-size:14px;
 /*color:#0076a1;*/
color:#474747;
}
#page_menu a:hover
{
 color:#000;
 text-decoration:underline;
}
#navlist li
{
 display:inline;
 padding:0px 50px 0px 0px;
}
#navlist li.last
{
 border:none;
}
#navlist a.undrln
{
 text-decoration:underline;
}
#navlist
{
 font-size:20px;
 font-weight: bold;
 font-style: normal;
 text-decoration: none;
 padding-left:50px;
 padding-top:12px;
 font-size:12px;
}
#navlist a
{
 /*color:#0076a1;*/
	color: #e5e5e5;
 text-decoration:none;
}
#navlist a:hover
{
 color:#fff;
 text-decoration:none;
}
/********************************************************/
.contact
{
 display:block;
 font-weight:bold;
 margin-bottom:15px;
}
.contact_head
{
 display:block;
 font-weight:bold;
 margin-bottom:5px;
}
#map
{
 margin:0 auto;
}
.sidebar-left h2 cufon
{
 padding-bottom:5px;
 padding-top:5px;
}
/*********Форматирование для формы****************/
#edit_form
{
 margin-top:20px;
}
.tdform
{
 padding:5px 0px 5px 5px;
}
#form_add
{
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
}
.labl
{
 font-weight:bold;
 font-size:12px;
}
/*textarea
{
 font-size:12px;
}
input:focus
{
 background-color:#FFC;
}
textarea:focus
{
 background-color:#FFC;
}*/
#form_add button
{
 background-color:#72b544;
 color:#FFF;
 font-weight:bold;
}
/*************************************************/
#news_toolbar
{
 margin:30px auto 0px;
 width:1024px;
 padding-bottom:5px;
 border-bottom:solid 2px #CCC;
}
.toolbar_nav a
{ /*color:#0076a1; */
 color:#474747;
 text-decoration:none;
}
.toolbar_nav a:hover
{
 color:#000;
 text-decoration:none;
}
#news_list a :hover
{
 text-decoration:none;
 color:#474747;
}
#news_list a
{
 text-decoration:none;
 color: #333;
}
/*#news_list li:hover{ display:block; padding:5px 5px; color:#FFF; background-color:#49C1F9; margin-bottom:2px;}*/
#news_list li
{
 list-style:none;
 display:block;
 padding:0px 3px 5px 0px;
 color:#FFF;
 background-color:#fff;
 margin-bottom:2px;
}
#news_list
{
 list-style:none;
 margin-bottom:10px;
 margin-right:10px;
 padding:0px;
 font-size:14px;
}
.td_menu
{
 padding:2px 20px;
 font-weight:bold;
}
#menu
{
 margin-bottom:20px;
}
.container
{
 position:relative; /* needed for footer positioning*/
 margin:0 auto; /* center, not in IE5 */
 width:100%;
 height:auto !important; /* real browsers */
 height:100%; /* IE6: treaded as min-height*/
 min-height:100%; /* real browsers */
}

#content .left
{
 float:left;
 margin-left:10px;
}
#content .back
{
 position:absolute;
 right:10px;
 top:0px;
}
h3 a
{
 font-size:14px;
 padding-left:20px;
}
a
{
 color:#777;
 text-decoration:none;
}
a:hover
{
 color:#06C;
}
.content
{
 margin:0 auto;/*padding:0px 0px 58px 0px;  Footer Padding */
}
#hmm
{
 display:block;
 margin:15px 0px 10px 5px;
}
#menu_a
{
 /*color:#0076a1;*/
	color:#474747;
 font-size:12px;
 text-transform:uppercase;
 width:890px;
 margin:0px auto 10px;
 padding-top:10px;
}
#menu_a a
{
 text-decoration:none;
 color:#474747;
 font-weight:bold;
}
#menu_a a:hover
{
 color:#000;
 text-decoration:none;
}
#ctnt
{
 margin-bottom:20px;
}
.scroll-to-top-button
{
 background: #666 url(../im/upload.png) center center no-repeat;
 width: 32px;
 height: 32px;
 color: #fff;
 font-family: verdana;
 border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 -o-border-radius: 5px;
 cursor: pointer;
 padding: 15px;
 margin: 20px;
}
#gallery_block
{
 /*	margin-top:15px;*/
	/*border-top:dashed 2px #f0f0f0;*/
	padding-top:15px;
 display: block;
 /*margin-left:50px;*/
	width:614px;
}
#comments
{
 margin-top:15px;
 border-top:dashed 2px #B4B4B4;
 padding-top:15px;
 display: block;
 width:614px;
}
#gallery_block h3
{
 color:#474747;
 padding-bottom:7px;
}
.pageContainer
{
/* Сожержит каждую страницу с результатом поиска. Имеет вложенную нижнюю границу. 
	border-bottom:1px solid #5e7481;
	margin-bottom:50px;
	/* Добавляет тень к нижней темной границе 
	
	-moz-box-shadow:0 1px 0 #798e9c;
	-webkit-box-shadow:0 1px 0 #798e9c;
	box-shadow:0 1px 0 #798e9c;*/
}
.clear
{
 clear:both;
}
.line_nav
{
 color:#FFF;
 background-color:#474747;
 background:url(../im/main-bg1.png) repeat-x;
 padding:10px;
 margin-bottom:10px;
}
#magor_table
{
 padding:5px;
}
#newsl
{
 display:block;
 margin-top:0px;
 margin-bottom:10px;
}
#newsl h3
{
 color:#474747;
 font-weight:bold;
 font-size:18px;/*padding:10px 3px;*//*background:url(../im/menu.png);*/
}
#newsl .date
{
 color:#999;
 display:block;
 font-weight:bold;
 font-size:14px;
 padding:0px 0px 10px 0px;
 font-style:italic;
}
#newsl a
{
 text-decoration:none;
 color:#474747;
}
#frm
{
 width:700px;
 margin:0 auto;
}
#eform
{
 width:700px;
 margin:20px auto 20px;
 background: url(../im/1x1_0.5_black.png);
 -moz-box-shadow: 1px 3px 3px 3px #1e1e1e;
 -webkit-box-shadow: 1px 3px 3px 3px #1e1e1e;
 box-shadow: 1px 3px 3px 3px #1e1e1e;
 font-family: Georgia, "Times New Roman", Times, serif;
}
#eform label
{
 color:#FFD074;
}
div.errorimg1
{
 padding:5px 0px 5px 24px;
 text-align:left;
 display:block;
 margin:0px auto;
 background:transparent url(../im/error.png) no-repeat center left;
 color:red;
}
#ads
{
 height: 160px;
 width: 200px;
 margin: auto
}
#ui-datepicker-div
{
 z-index: 6666;
}
#tabs
{
 width:600px;
}
/*p, h1, form, button{border:0; margin:0; padding:0;}*/
.spacer
{
 clear:both;
 height:1px;
}
/* ----------- My Form ----------- */
.myform
{
 margin:0 auto;
 width:600px;
 padding:14px;
 font-size:12px;
}
#sbutton
{
 width:140px;
 height:30px;
}
.cont_tbl
{
 padding:10px 15px;
}
h3.cont_tbl
{
 color:#474747;
 padding:5px 0px 0px;
 font-size:16px;
}
.lightbox img
{
 display: block;
 padding:5px;
 border:solid;
 border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
 border-width: 1px 2px 2px 1px;
 background-color:white;
}
.groovy_butt
{
 font-weight:bold;
 color:silver;
 width:100px;
 height:30px;
 background-color:#1e1e1e;
 border-color:#333333;
 margin:10px;
 font-family: Georgia, "Times New Roman", Times, serif;
}
.groovy_butt:hover
{
 color:#FFD074;
}
