.menu-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    color: #bbbbc7
}

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none
}

.dd-list .dd-list {
    padding-left: 30px
}

.dd-collapsed .dd-list {
    display: none
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px
}

.dd-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff
}

.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold
}

.dd-item>button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0
}

.dd-item>button[data-action="collapse"]:before {
    content: '-'
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0
}

.dd-dragel .dd-handle {
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1)
}
#nestable {
	margin-bottom: 20px;
}
#nestable .dd-handle{ overflow: hidden;
	 text-overflow: ellipsis;white-space: nowrap;
border: 1px solid #eaeaea;}
#nestable2 .dd-handle {
    color: #666;
	
    border: none;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
	border: 1px solid #eaeaea;
}

#nestable2 .dd-handle:hover {
    background: #fff;
    box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3)
}

#nestable2 .dd-item>button:before {
    color: #666
}



.pages_listing .nav-tabs {
    border: none
}

.pages_listing .nav-tabs li.active a {
    border: none
}

.pages_listing .nav-tabs li a {
    border: none;
    border-radius: 0
}

.pages_listing .nav-tabs li a:hover {
    border: none
}

.page-pane {
    padding: 0
}

.page-pane .page-btns {
    padding: 0 10px;
    margin: 0;
    border-top: 1px solid #eaeaea;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08)
}

.page-list {
    margin: 2px 0 2px;
    padding: 0;
    list-style: none;
    height: 300px;
    overflow-y: scroll
}

.page-list .page-item {
    padding: 5px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    margin-top: 3px;
    background: #fff
}

.page-list .page-item .item-settings-label {
    color: #666;
    font-weight: normal;
    font-size: .9em
}

.page-list .page-item .item-settings-label input[type="checkbox"] {
    margin-right: 10px
}

.settings-bar {
    background: #fff;
    padding: 15px 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px
}

.toggle-settings {
    position: absolute;
    color: #6c7d8e;
    right: 5px;
    top: 5px
}

.toggle-settings i {
    -webkit-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    border-radius: 50%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08)
}

.settings-active i {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.dd-item-settings {
    display: none;
    color: #6c7d8e;
    background: white;
    margin-top: -5px;
    padding: 10px 5px 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    border-top: 1px solid #eaeaea
}

.dd-item-settings .form-control {
    height: 30px;
    font-size: .9em;
    background: #f9f9f9
}

.dd-item-settings .item-settings-label {
    font-weight: normal;
    margin-top: 5px;
    font-size: .9em;
    margin-bottom: 0
}

.dd-item-settings legend {
    font-size: 1em;
    color: #6c7d8e
}

.dd-item-settings .item-buttons {
    padding-top: 10px
}

button:focus {
    outline: none
}

textarea:focus,
input.form-control:focus {
    outline: none;
    border: 1px solid #09c
}

.item-name {
    color: #666;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 80%;
	overflow: hidden;
	display: block;
	float: left;
}

.item-type {
    color: #09c;
	/*float: right;*/
	float: left;
	margin-left: 10px;
	display: block;
	/*margin-right: 25px;*/
    font-style: italic
}

.item-checkbox[type=checkbox] {
    margin-right: 5px
}

.label-block {
    display: block
}

.ui-btn {
    border: none;
    padding: 5px 10px;
    background: #e6e6e6;
    color: gray;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-radius: 3px;
    display: inline-block;
    margin: 10px 20px 10px 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: .9em
}

.ui-btn.remove:hover {
    background: #ed5e5e
}

.ui-btn:hover {
    background: #09c;
    color: #fff
}

html {
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f5
}

h1 {
    font-size: 1.75em;
    margin: 0 0 0.6em 0
}
#nestable a,#nestable2 a {
    color: #2996cc
}

#nestable a:hover,#nestable2 a:hover {
    text-decoration: none
}

.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

* html .cf {
    zoom: 1
}

*:first-child+html .cf {
    zoom: 1
}

p {
    line-height: 1.5em
}

.small {
    color: #666;
    font-size: 0.875em
}

.large {
    font-size: 1.25em
}

.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd
}

#nestable-menu {
    padding: 0;
    margin: 20px 0
}

#nestable-output,
#nestable2-output {
    width: 100%;
    height: 7em;
    font-size: 0.75em;
    line-height: 1.333333em;
    font-family: Consolas, monospace;
    padding: 5px;
	 -moz-box-sizing: border-box;
    box-sizing: border-box;
   
}

@media only screen and (min-width: 700px) {
    .dd+.dd {
        margin-left: 2%
    }
}

.dd-hover>.dd-handle {
    background: #2ea8e5 !important
}

.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    border-radius: 3px;
	-moz-box-sizing: border-box;
    box-sizing: border-box;

}

.dd3-content:hover {
    color: #2ea8e5;
    background: #fff
}

.dd-dragel>.dd3-item>.dd3-content {
    margin: 0
}

.dd3-item>button {
    margin-left: 30px
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal
}

.dd3-handle:hover {
    background: #ddd
}
