/*
Uploadify v2.1.0
Release Date: August 24, 2009
*/
#fileQueue {


	margin-bottom: 10px;
}
#info, #info2 {
    font-weight: 700; line-height: 130%;
}
.uploadifyQueueItem {
	border: 2px solid #E5E5E5;
/*	background-color: #F5F5F5;*/
	margin-top: 5px;
	padding: 10px;
	width: 350px;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	/*background-color: #FDE5DD !important;*/
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
/*	background-color: #FFFFFF;*/
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
/*	background-color: #00669b;*/
	width: 1px;
	height: 3px;
}
#uploadifyUploader{
	background:none;}