
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.body_bg {
	background: #fafcfe;
}
.auth_logo {
	text-align: center;
}
.auth_logo>svg {
	width: 160px;
	display: inline-block;
	padding: 10px 0 15px;
}
.form-auth {
	/* Size & position */
	width: 300px;
	margin-left:-150px;
	margin-top:-110px;
	padding: 10px;
	position: fixed;
    top: 50%;
    left: 50%;
	/* Styles */
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255,255,255,1);
	border-radius: 5px;
	background: white;
}
.form-auth .field {
	position: relative; /* For the icon positioning */
}
.form-auth .field i {
	left: 0;
	top: 0;
	position: absolute;
	height: 36px;
	width: 36px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);
	color: #777777;
	text-align: center;
	line-height: 36px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	pointer-events: none;
}
.form-auth input[type=text], .form-auth input[type=password] {
	font-size: 13px;
	font-weight: 400;
	width: 100%;
	padding: 10px 18px 7px 45px;
	border: 1px solid #eaeaea;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 3px 2px rgba(0,0,0,0.1);
	border-radius: 3px;
	background: #f9f9f9;
	color: #777;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}
.form-auth input[type=text] {
	margin-bottom: 10px;
}
.form-auth input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0px 1000px #F2FDFF inset;
}
.form-auth input[type=text]:hover ~ i, .form-auth input[type=password]:hover ~ i {
	color: #52cfeb;
}
.form-auth input[type=text]:focus ~ i, .form-auth input[type=password]:focus ~ i {
	color: #42A2BC;
}
.form-auth input[type=text]:focus, .form-auth input[type=password]:focus, .form-auth button[type=submit]:focus {
	outline: none;
}
.form-auth .submit {
	/* Size and position */
	width: 65px;
	height: 65px;
	position: absolute;
	top: 81px;
	right: -25px;
	padding: 10px;
	z-index: 2;
	/* Styles */
	background: #ffffff;
	border-radius: 50%;
	box-shadow: 0 0 2px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.3);
}
.form-auth .submit:after {
	/* Size and position */
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: -2px;
	left: 30px;
	/* Styles */
	background: #ffffff;
	/* Other masks trick */
	box-shadow: 0 62px white, -32px 31px white;
}
.form-auth button:focus {outline:0;}
.form-auth button {
	/* Size and position */
	width: 100%;
	height: 100%;
	margin-top: -1px;
	/* Icon styles */
	font-size: 1.4em;
	line-height: 1.75;
	color: white;
	/* Styles */
	border: none; /* Remove the default border */
	border-radius: inherit;
	background: #52cfeb; /* Fallback */
	background: -moz-linear-gradient(#52cfeb, #42A2BC);
	background: -ms-linear-gradient(#52cfeb, #42A2BC);
	background: -o-linear-gradient(#52cfeb, #42A2BC);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
	background: -webkit-linear-gradient(#52cfeb, #42A2BC);
	background: linear-gradient(#52cfeb, #42A2BC);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1);
	cursor: pointer;
}
.form-auth button:hover, .form-auth button[type=submit]:focus {
	background: #52cfeb;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.form-auth button:active {
	background: #42A2BC;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.3), inset 0 3px 4px rgba(0,0,0,0.3);
}
.form-auth .error_code {
	color: red;
	padding: 10px;
	margin: 10px auto 0px;
	width: 200px;
	font-size: 0.9em;
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-user:before {
	content: "\f007";
}
.icon-lock:before {
	content: "\f023";
}
.icon-large:before {
	vertical-align: top;
}
.form-auth [class^="icon-"]:before, .form-auth [class*=" icon-"]:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
}
