<ul id="breadcrumbs-one">
	<li><a href="">Настройки</a></li>
</ul>

<form id="edit_settings1" name="edit_settings1" method="post" action="<?=CONTROL?>settings/update/" enctype='multipart/form-data'>
	<div class="x_title">
		<div class="cms-heading">Основные настройки сайта</div>
	</div>
	
	<div class="tab-card">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#type1" data-toggle="tab">Описание</a></li>
			<li><a href="#type2" data-toggle="tab">Брендинг</a></li>
			<li><a href="#type3" data-toggle="tab">Контактная информация</a></li>
			<li><a href="#type4" data-toggle="tab">Социальные сети</a></li>
			<li><a href="#type5" data-toggle="tab">SEO</a></li>
		</ul>
		
		<div class="tab-content">
			<div id="type1" class="tab-pane fade in active">
				<div class="form-group">
					<label>Название <span class="required">*</span> :</label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_name" placeholder="Название (250)" title="Название (250)" value="<?=$settings['settings_name']?>"/>
				</div>
				
				<div class="form-group">
					<label>Полное название <span class="required">*</span> :</label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_full_name" placeholder="Полное название (250)" title="Полное название (250)" value="<?=$settings['settings_full_name']?>"/>
				</div>
				
				<div class="form-group">
					<label>Аббревиатура <span class="required">*</span> :</label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_abbreviatire" placeholder="Аббревиатура (250)" title="Аббревиатура (250)" value="<?=$settings['settings_abbreviatire']?>"/>
				</div>
			</div>
			
			<div id="type2" class="tab-pane fade">
						<!--div class="form_block icon_block logo_head">
							<div class="row">
								<div class="col-md-4">
									<label>Лого шапки:</label>
									<?if($settings['settings_logo_head'] != ''):?>
										<div class="image_block">
											<input type="hidden" name="settings_logo_head" value="<?=$settings['settings_logo_head']?>">
											<img src="<?=USERFILES . $settings['settings_logo_head']?>" />
											<i class="fa fa-times rounded" onClick="removeIco('Лого шапки', 'logo_head', 'fupload_logo_head', this);" title="Удалить логотип шапки"></i>
										</div>
									<?else:?>
										<div class="input-group">
											<input id="logo_head" name="fupload_logo_head" type="text" size="20" class="form-control"/>
											<span class="input-group-btn"><input type="button" value="Загрузить" class="btn btn-ui" onclick="BrowseServer('logo_head');" /></span>
										</div>
									<?endif?>
								</div>
							</div>
						</div-->
			
						<!--div class="form_block icon_block logo_parent">
							<div class="row">
								<div class="col-md-4">
									<label>Лого родителя:</label>
									<?if($settings['settings_logo_parent'] != ''):?>
										<div class="image_block">
											<input type="hidden" name="settings_logo_parent" value="<?=$settings['settings_logo_parent']?>">
											<img src="<?=USERFILES . $settings['settings_logo_parent']?>" />
											<i class="fa fa-times rounded" onClick="removeIco('Лого родителя', 'logo_parent', 'fupload_logo_parent', this);" title="Удалить логотип родителя"></i>
										</div>
									<?else:?>
										<div class="input-group">
										<input id="logo_parent" name="fupload_logo_parent" class="form-control" type="text" size="20" />
										<span class="input-group-btn"><input type="button" value="Загрузить" class="btn btn-ui" onclick="BrowseServer('logo_parent');" /></span></div>
									<?endif?>
								</div>
							</div>
						</div-->
			
						<!--div class="form_block icon_block logo_footer">
							<div class="row">
								<div class="col-md-4">
									<label>Лого футера:</label>
									<?if($settings['settings_logo_footer'] != ''):?>
										<div class="image_block">
											<input type="hidden" name="settings_logo_footer" value="<?=$settings['settings_logo_footer']?>">
											<img src="<?=USERFILES . $settings['settings_logo_footer']?>" />
											<i class="fa fa-times rounded" onClick="removeIco('Лого футера', 'logo_footer', 'fupload_logo_footer', this);" title="Удалить логотип футера"></i>
										</div>
									<?else:?>
										<div class="input-group">
											<input id="logo_footer" name="fupload_logo_footer" type="text" size="20" class="form-control"/>
											<span class="input-group-btn"><input type="button" value="Загрузить" class="btn btn-ui" onclick="BrowseServer('logo_footer');" /></span>
										</div>
									<?endif?>
								</div>
							</div>
						</div-->
				
				<div class="form_block icon_block marker">
					<div class="row">
						<div class="col-md-4">
							<label>Маркер:</label>
							<?if($settings['settings_marker'] != ''):?>
								<div class="image_block">
									<input type="hidden" name="settings_marker" value="<?=$settings['settings_marker']?>">
									<img src="<?=USERFILES . $settings['settings_marker']?>" />
									<i class="fa fa-times rounded" onClick="removeIco('Маркер', 'marker', 'fupload_marker', this);" title="Удалить маркер"></i>
								</div>
							<?else:?>
								<div class="input-group">
									<input id="marker" name="fupload_marker" type="text" size="20" class="form-control" />
									<span class="input-group-btn"><input type="button" value="Загрузить"  class="btn btn-ui" onclick="BrowseServer('marker');" /></span>
								</div>
							<?endif?>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class="col-md-4">
							<label>Цвет <span class="required">*</span> :</label>
							<input class="form-control" type="text" size="85" maxlength="250" name="settings_color" placeholder="Цвет (250)" title="Цвет (250)" value="<?=$settings['settings_color']?>"/>
						</div>
					</div>
				</div>
			</div>
			
			<div id="type3" class="tab-pane fade">
				<div id="map" class="form_block"></div>
				<input type="hidden" name="settings_coord" value="<?=sql_cool($settings['settings_coord'])?>">
				
				<div class="form-group">
					<label>Адрес рус: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_address" placeholder="Адрес рус (250)" title="Адрес рус (250)" value="<?=$settings['settings_address']?>"/>
				</div>
				
				<div class="form-group">
					<label>Телефон: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_phone" placeholder="Телефон (250)" title="Телефон (250)" value="<?=$settings['settings_phone']?>"/>
				</div>
				
				<div class="form-group">
					<label>Email: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_mail" placeholder="Email (250)" title="Email (250)" value="<?=$settings['settings_mail']?>"/>
				</div>
			</div>
			
			<div id="type4" class="tab-pane fade">
				<div class="form-group">
					<label>Вконтакте: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_vk" placeholder="Вконтакте (250)" title="Вконтакте (250)" value="<?=$settings['settings_vk']?>"/>
				</div>
				
				<div class="form-group">
					<label>Facebook: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_fb" placeholder="Facebook (250)" title="Facebook (250)" value="<?=$settings['settings_fb']?>"/>
				</div>
				
				<div class="form-group">
					<label>Twitter: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_tw" placeholder="Twitter (250)" title="Twitter (250)" value="<?=$settings['settings_tw']?>"/>
				</div>
				
				<div class="form-group">
					<label>Youtube: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_yt" placeholder="Youtube (250)" title="Youtube (250)" value="<?=$settings['settings_yt']?>"/>
				</div>
				
				<div class="form-group">
					<label>Instagram: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_ig" placeholder="Instagram (250)" title="Instagram (250)" value="<?=$settings['settings_ig']?>"/>
				</div>
				
				<div class="form-group">
					<label>Google+: </label>
					<input class="form-control" type="text" size="85" maxlength="250" name="settings_gp" placeholder="Google+ (250)" title="Google+ (250)" value="<?=$settings['settings_gp']?>"/>
				</div>
			</div>
			
			<div id="type5" class="tab-pane fade">
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<label>Код счетчика Яндекс <span class="required">*</span> :</label>
							<input class="form-control" type="text" size="85" maxlength="250" name="settings_yandex" placeholder="Код счетчика Яндекс (250)" title="Код счетчика Яндекс (250)" value="<?=$settings['settings_yandex']?>"/>
						</div>
						<div class="col-md-6">
					    <label>Код валидации Яндекc :</label>
					    <input class="form-control" type="text" size="85" maxlength="250" name="settings_yandex_valid" placeholder="Код валидации Яндекс (250)" title="Код валидации Яндекс (250)" value="<?=$settings['settings_yandex_valid']?>"/>
				  	</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<label>Код счетчика Google <span class="required">*</span> :</label>
							<input class="form-control" type="text" size="85" maxlength="250" name="settings_google" placeholder="Код счетчика Google (250)" title="Код счетчика Google (250)" value="<?=$settings['settings_google']?>"/>
						</div>
						<div class="col-md-6">
							<label>Код валидации Google :</label>
							<input class="form-control" type="text" size="85" maxlength="250" name="settings_google_valid" placeholder="Код валидации Google (250)" title="Код валидации Google (250)" value="<?=$settings['settings_google_valid']?>"/>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class="col-md-3">
							<a href="<?=CONTROL.'sitemap/'?>" class="btn btn-ui">Сгенерировать sitemap.xml</a>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label>Robots.txt:</label>
					<textarea class="form-control" id="robots" name="settings_robots" cols="100" rows="20"><?=file_get_contents(MAIN . 'robots.txt')?></textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<input type="submit" name="save" value="Сохранить" title="Сохранить" class="btn btn-ui"/>
		<a href="<?=CONTROL?>settings" title="Отмена" class="btn btn-ui cancel">Отмена</a>
		<input type="reset" name="reset" value="Сброс" title="Сброс" class="btn btn-ui reset"/>
	</div>
</form>