
			<tr class="db">
				<td>10:02:28</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:02:28</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:09:56</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:09:56</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:53:08</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:53:08</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:53:14</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:53:14</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:53:16</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:53:16</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:53:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:53:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:11:04</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:11:04</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 