
			<tr class="db">
				<td>10:07:49</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:07:49</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:07:52</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:07:52</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:07:56</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:07:56</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:39:36</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:39:36</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:39:36</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:39:36</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:40:44</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:40:44</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:40:44</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:40:44</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:41:37</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:41:37</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:41:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:41:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:01</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:01</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:10</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:10</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:23</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:23</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:34</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:34</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:50</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:42:50</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:43:12</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:43:12</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:43:19</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:43:19</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:44:25</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:44:25</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:44:37</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:44:37</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:45:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>19:45:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:50:54</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:50:54</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:50:54</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:50:54</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:41</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:41</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:47</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:47</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:53</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:53</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:51:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:52:08</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:52:08</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:52:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:52:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:52:32</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:52:32</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:52:36</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:52:36</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:53:17</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:53:17</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:53:20</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:53:20</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:53:47</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:53:47</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:53:54</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:53:54</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:54:20</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>22:54:20</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 