
			<tr class="db">
				<td>14:02:24</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:02:24</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:02:29</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:02:29</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 