
			<tr class="db">
				<td>09:59:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>09:59:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:00:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:00:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:00:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:00:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:22:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:22:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:22:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:22:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:47:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:47:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:49:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:49:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:49:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:49:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:43:29</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:43:29</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:52:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:52:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:53:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:53:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:53:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:53:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:53:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:53:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:02:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:02:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:02:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:02:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:02:59</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:02:59</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:09:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:09:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:10:54</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:10:54</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:25:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:25:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:01:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:01:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:18:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:18:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:18:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:18:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>13:18:22</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>13:18:22</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>720 </td>
				<td>1146 </td>
				<td>Table 'mw2020.school_specs' doesn't exist </td>
				<td>
					SELECT 
						`school_spec_name`                       AS `spec`,
						`participant_name`                       AS `name`,
						`participant_surname`                    AS `surname`,
						IF( `participant_gender` = 1, 'М', 'Ж' ) AS `gender`,
						`participant_pob`                        AS `pob`,
						`participant_citizenship`                AS `citizenship`,
						`participant_dob`                        AS `dob`,
						`participant_postal_address`             AS `address`,
						`participant_passport_no`                AS `passport`,
						`participant_valid`                      AS `valid`,
						`participant_phone`                      AS `phone`,
						`participant_email`                      AS `email`,
						`participant_consulate_addr`             AS `consulate`,
						`participant_education`                  AS `education`,
						`participant_home_uni`                   AS `uni`,
						`participant_field_study`                AS `field_study`,
						`participant_department`                 AS `department`,
						`study_level_name`                       AS `lvl`,
						`language_skill_name`                    AS `skill`,
						`participant_motivation`                 AS `motivation`,
						`participant_other`                      AS `other`
					FROM `participants`
					LEFT JOIN `school_specs`    ON `school_spec_id`    = `participant_school_spec_id`
					LEFT JOIN `study_levels`    ON `study_level_id`    = `participant_study_level_id`
					LEFT JOIN `language_skills` ON `language_skill_id` = `participant_language_skill_id`
					LEFT JOIN `schools`         ON `school_id`         = `participant_school_id`
					WHERE `participant_is_deleted` = 0 and `participant_school_id` = 0;
				 </td>
			</tr> 
			<tr class="db">
				<td>13:18:36</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:18:36</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>13:18:36</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>13:18:36</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>720 </td>
				<td>1146 </td>
				<td>Table 'mw2020.school_specs' doesn't exist </td>
				<td>
					SELECT 
						`school_spec_name`                       AS `spec`,
						`participant_name`                       AS `name`,
						`participant_surname`                    AS `surname`,
						IF( `participant_gender` = 1, 'М', 'Ж' ) AS `gender`,
						`participant_pob`                        AS `pob`,
						`participant_citizenship`                AS `citizenship`,
						`participant_dob`                        AS `dob`,
						`participant_postal_address`             AS `address`,
						`participant_passport_no`                AS `passport`,
						`participant_valid`                      AS `valid`,
						`participant_phone`                      AS `phone`,
						`participant_email`                      AS `email`,
						`participant_consulate_addr`             AS `consulate`,
						`participant_education`                  AS `education`,
						`participant_home_uni`                   AS `uni`,
						`participant_field_study`                AS `field_study`,
						`participant_department`                 AS `department`,
						`study_level_name`                       AS `lvl`,
						`language_skill_name`                    AS `skill`,
						`participant_motivation`                 AS `motivation`,
						`participant_other`                      AS `other`
					FROM `participants`
					LEFT JOIN `school_specs`    ON `school_spec_id`    = `participant_school_spec_id`
					LEFT JOIN `study_levels`    ON `study_level_id`    = `participant_study_level_id`
					LEFT JOIN `language_skills` ON `language_skill_id` = `participant_language_skill_id`
					LEFT JOIN `schools`         ON `school_id`         = `participant_school_id`
					WHERE `participant_is_deleted` = 0 and `participant_school_id` = 0;
				 </td>
			</tr> 
			<tr class="db">
				<td>13:24:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:24:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:24:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:24:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>13:24:55</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>13:24:55</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>720 </td>
				<td>1146 </td>
				<td>Table 'mw2020.school_specs' doesn't exist </td>
				<td>
					SELECT 
						`school_spec_name`                       AS `spec`,
						`participant_name`                       AS `name`,
						`participant_surname`                    AS `surname`,
						IF( `participant_gender` = 1, 'М', 'Ж' ) AS `gender`,
						`participant_pob`                        AS `pob`,
						`participant_citizenship`                AS `citizenship`,
						`participant_dob`                        AS `dob`,
						`participant_postal_address`             AS `address`,
						`participant_passport_no`                AS `passport`,
						`participant_valid`                      AS `valid`,
						`participant_phone`                      AS `phone`,
						`participant_email`                      AS `email`,
						`participant_consulate_addr`             AS `consulate`,
						`participant_education`                  AS `education`,
						`participant_home_uni`                   AS `uni`,
						`participant_field_study`                AS `field_study`,
						`participant_department`                 AS `department`,
						`study_level_name`                       AS `lvl`,
						`language_skill_name`                    AS `skill`,
						`participant_motivation`                 AS `motivation`,
						`participant_other`                      AS `other`
					FROM `participants`
					LEFT JOIN `school_specs`    ON `school_spec_id`    = `participant_school_spec_id`
					LEFT JOIN `study_levels`    ON `study_level_id`    = `participant_study_level_id`
					LEFT JOIN `language_skills` ON `language_skill_id` = `participant_language_skill_id`
					LEFT JOIN `schools`         ON `school_id`         = `participant_school_id`
					WHERE `participant_is_deleted` = 0 and `participant_school_id` = 0;
				 </td>
			</tr> 
			<tr class="db">
				<td>13:30:31</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:30:31</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:30:34</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:30:34</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>13:30:34</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>13:34:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:34:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:35:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:35:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>13:35:00</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>13:38:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:38:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:38:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:38:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>13:38:21</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>13:43:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:43:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:43:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:43:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>13:43:17</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>15:14:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:14:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>15:14:43</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>15:14:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:14:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>15:14:45</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>15:35:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:35:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:36:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:36:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>15:36:00</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>16:04:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:04:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:04:03</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:04:03</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>16:04:03</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 