
			<tr class="db">
				<td>14:40:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:40:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:40:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:40:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:31</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:31</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:33</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:33</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:37</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:37</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:40</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:40</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:47</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:47</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:52</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:52</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:56</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:41:56</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:00</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:00</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:03</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:03</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:13</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:16</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:16</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:42:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:45:42</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:45:42</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:45:59</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:45:59</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:02</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:02</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:08</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:08</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:11</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:11</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:14</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:14</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:17</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:17</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:19</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:19</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:48</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:46:48</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:47:15</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:47:15</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:47:48</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:47:48</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:47:52</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:47:52</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:48:04</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:48:04</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:48:09</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:48:09</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:50:55</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:50:55</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:57:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:57:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:57:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:57:57</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:05:11</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:05:11</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 