
			<tr class="db">
				<td>10:42:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:42:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:11:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:11:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:11:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:11:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:13:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:13:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:13:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:13:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:15:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:15:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:16:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:16:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:19:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:19:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:21:04</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:21:04</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:21:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:21:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:22:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:22:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:22:40</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:22:40</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:23:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:23:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:23:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:23:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:23:56</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:23:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:25:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:25:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:27:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:27:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:28:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:28:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:31:06</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:31:06</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:33:34</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:33:34</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:34:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:34:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:36:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:36:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:38:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:38:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:40:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:40:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:40:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:40:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:40:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:40:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:40:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:40:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:51:36</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:51:36</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:51:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:51:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>11:51:42</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: school </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>11:56:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:56:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:02:02</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:02:02</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:29:09</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:29:09</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:32:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:32:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:34:27</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:34:27</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:40:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:40:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:40:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:40:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:41:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:41:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:42:12</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:42:12</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:43:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:43:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:45:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:45:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:45:56</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:45:56</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:48:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:48:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:48:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:48:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:51:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:51:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:15:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:15:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:15:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:15:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:17:04</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:17:04</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:19:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:19:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:20:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:20:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:21:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:21:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:31:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:31:35</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:37:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:37:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:37:54</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:37:54</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:40:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:40:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:46:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:46:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:46:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:46:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:47:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:47:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:47:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:47:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:51:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:51:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:55:46</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:55:46</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:56:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:56:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:58:59</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:58:59</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:59:56</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:59:56</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:00:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:00:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:02:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:02:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:06:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:06:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:07:40</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:07:40</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:08:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:08:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:10:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:10:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:12:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:12:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:13:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:13:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:14:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:14:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:14:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:14:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:14:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:14:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:14:54</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:14:54</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:16:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:16:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:18:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:18:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:21:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:21:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:06:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:06:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:06:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:06:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:07:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:07:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:10:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:10:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:11:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:11:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:12:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:12:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:14:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:14:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:19:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:19:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:22:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:22:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:33:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:33:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:46:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:46:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:47:40</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:47:40</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:48:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:48:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:50:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:50:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:57:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:57:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:00:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:00:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:05:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:05:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:06:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:06:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:06:23</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:06:23</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:06:23</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:06:23</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:15:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:15:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:15:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:15:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:21:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:21:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:21:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:21:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:22:36</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:22:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:22:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:22:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:25:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:25:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:30:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:30:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:31:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:31:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:33:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:33:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:34:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:34:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:39:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:39:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:43:46</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:43:46</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:43:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:43:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:44:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:44:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:48:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:48:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:48:54</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:48:54</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:49:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:49:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:49:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:49:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:50:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:50:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:50:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:50:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:50:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:50:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:51:12</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:51:12</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:53:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:53:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:53:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:53:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:53:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:53:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:54:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:54:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:58:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:58:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:09:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:09:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:11:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:11:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:11:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:11:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:20:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:20:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:21:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:21:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:37:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:37:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:56:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:56:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:57:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:57:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:58:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>17:58:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:00:04</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:00:04</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:01:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:01:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:01:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:01:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:10:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:10:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:10:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:10:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:15:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:15:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:16:03</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:16:03</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:17:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:17:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:17:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:17:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:29:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:29:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:30:02</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>18:30:02</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 