
			<tr class="db">
				<td>10:32:20</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:20</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:42</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:42</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:42</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:42</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:50</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:50</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:56</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:56</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:57</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:32:57</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:01</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:01</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:01</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:01</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:04</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:04</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:09</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:09</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:47</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:33:47</td>
				<td>/home/wosce/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'wosce.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 