
			<tr class="db">
				<td>10:00:52</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:00:52</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:00:52</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:00:52</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:01:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:01:00</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:02:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:02:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:02:31</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:02:31</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:04:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:04:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:04:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:04:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:04:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:04:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:04:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:04:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:05:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:05:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:05:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:05:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:11:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:11:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:11:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:11:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:16:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:16:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:16:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:16:59</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:20:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:20:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:20:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:20:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:23:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:23:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:23:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:23:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:23:06</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:23:06</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:27:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:27:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:01:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:01:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:10:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:10:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:10:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:10:37</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:10:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:10:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:11:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:11:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:12:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:12:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:12:46</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:12:46</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:12:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:12:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:13:29</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:13:29</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:20:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:20:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:20:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:20:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:26:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:26:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:26:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:26:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:26:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:26:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:26:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:26:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:27:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:27:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:27:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:27:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:28:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:28:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:28:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:28:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:35:27</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:35:27</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:35:29</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:35:29</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:39:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:39:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:39:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:39:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:41:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:41:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:41:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:41:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:43:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:43:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:43:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:43:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:44:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:44:11</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:44:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:44:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:45:02</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:45:02</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:45:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:45:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:46:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:46:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:46:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:46:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:46:52</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:46:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:46:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:46:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:47:23</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:47:23</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:47:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:47:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:47:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:47:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:47:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:47:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:48:56</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:48:56</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:48:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:48:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:50:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:50:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:50:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:50:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:51:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:51:55</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:51:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:51:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:49</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:57:53</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:59:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:59:21</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:59:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>11:59:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr>
				<td>11:59:24</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>689 </td>
				<td>8 </td>
				<td>Undefined index: table </td>
				<td></td>
			</tr> 
			<tr>
				<td>11:59:24</td>
				<td>C:\xampp\htdocs\mw2020\core\controller\ajax.php </td>
				<td>712 </td>
				<td>2 </td>
				<td>Invalid argument supplied for foreach() </td>
				<td></td>
			</tr> 
			<tr class="db">
				<td>12:05:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:05:14</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:06:36</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:06:36</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:06:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:06:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:08:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:01</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:05</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:09</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:09</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:24</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:20:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:04</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:04</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:09</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:09</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:32</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:32</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:21:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:22:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:22:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:22:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:22:50</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:23:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:23:19</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:45</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:24:47</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:25:34</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:25:34</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:26:27</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:26:27</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:27:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:27:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:27:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:27:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:28:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:28:22</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:28:46</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:28:46</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:29:06</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:29:06</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:29:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:29:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:29:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:29:57</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:30:03</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:30:03</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:30:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:30:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:31:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:31:39</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:31:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:31:41</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:34:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:34:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:34:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:34:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:34:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:34:28</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:36:12</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:36:12</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:36:31</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:36:31</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:36:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:36:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:24:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:24:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:24:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:24:08</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:24:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:24:17</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:24:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:24:25</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:26:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:26:30</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:26:34</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:26:34</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:27:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:27:18</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:27:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:27:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:53:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:53:48</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:30:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:30:42</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:30:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>15:30:44</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:49:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>16:49:07</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 