
			<tr class="db">
				<td>12:01:31</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:01:31</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:01:31</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:01:31</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:01:51</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:01:51</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:01:51</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:01:51</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:04:40</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:04:40</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:04:46</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>12:04:46</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:47:06</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:47:06</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:47:06</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:47:06</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:47:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:47:22</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:47:23</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:47:23</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:48:04</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>20:48:04</td>
				<td>/home/aapp/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'aapp.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 