
			<tr class="db">
				<td>14:56:11</td>
				<td>/home/cpsc/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'cpsc.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:56:11</td>
				<td>/home/cpsc/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'cpsc.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:56:13</td>
				<td>/home/cpsc/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'cpsc.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:56:13</td>
				<td>/home/cpsc/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'cpsc.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:56:13</td>
				<td>/home/cpsc/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'cpsc.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:56:13</td>
				<td>/home/cpsc/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'cpsc.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:56:19</td>
				<td>/home/cpsc/public_html/core/main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'cpsc.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>14:56:19</td>
				<td>/home/cpsc/public_html/core/main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'cpsc.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 