
			<tr class="db">
				<td>10:35:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:35:38</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:35:52</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:35:52</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:35:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:35:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:35:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:35:58</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:36:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:36:51</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:38:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:38:20</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:39:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:39:13</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:39:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:39:16</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:40:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:40:10</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:40:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:40:26</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:40:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>10:40:33</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 