
			<tr class="db">
				<td>13:41:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>658 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SELECT * FROM `settings`; </td>
			</tr> 
			<tr class="db">
				<td>13:41:43</td>
				<td>C:\xampp\htdocs\mw2020\core\main.php </td>
				<td>662 </td>
				<td>1146 </td>
				<td>Table 'mw2020.settings' doesn't exist </td>
				<td>SHOW COLUMNS FROM `settings`; </td>
			</tr> 