<ul id="breadcrumbs-one">
	<li>Отзывы</li>
	<li><a href="<?=CONTROL?>ads/">Список</a></li>
	<li><a href="" class="current"><?=$title?></a></li>	
</ul>

<form id="edit_ads" name="edit_ads" method="post" action="<?=CONTROL?>ads/update/" enctype='multipart/form-data'>
	<input type="hidden" name="ads_id" id="bloc_on" value="<?=$ads['id']?>"/>
	
	<div class="form-group">
		<input type="submit" name="save" value="Сохранить" title="Сохранить" class="btn btn-ui"/>
		<a href="<?=CONTROL?>ads/" title="Отмена" class="btn btn-ui cancel">Отмена</a>
		<input type="reset" name="reset" value="Сброс" title="Сброс" class="btn btn-ui reset"/>
	</div>
	
	<div class="form-group">
		<label for="ads_name">ФИО <span class="required">*</span> :</label>
		<input id="ads_name" class="form-control" size="85" type="text"  maxlength="250" name="ads_name" placeholder="ФИО (250)" title="ФИО (250)" value="<?=$ads['name']?>"/>
	</div>
	
	<div class="form-group">
		<label for="ads_position">Должность <span class="required">*</span> :</label>
		<input id="ads_position" class="form-control" size="85" type="text"  maxlength="250" name="ads_position" placeholder="Должность (250)" title="Должность (250)" value="<?=$ads['position']?>"/>
	</div>
	
	<div class="divider-dashed"></div>
	
	<div class="form-group">
		<label for="ads_sort">Сортировка <span class="required">*</span> :</label>
		<input id="ads_sort" class="form-control" size="85" type="number" min="0" name="ads_sort" placeholder="0" title="Сортировка" value="<?=$ads['sort']?>"/>
	</div>
	
	<div class="form-group icon_block">
		<div class="row">
			<div class="col-md-4">
				<label>Изображение:</label>
				<?if($ads['img'] != ''):?>
					<div class="image_block">
						<input type="hidden" name="ads_img" value="<?=$ads['img']?>">
						<img src="<?=USERFILES . $ads['img']?>" />
						<i class="fa fa-times rounded" onClick="removeIco();" title="Удалить изображение"></i>
					</div>
				<?else:?>
					<div class="input-group">
						<input id="xFilePath" name="fupload" type="text" size="20" class="form-control"/>
						<span class="input-group-btn"><input type="button" value="Загрузить" onclick="BrowseServer();"  class="btn btn-ui"/></span>
					</div>
				<?endif?>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<label for="ads_text">Отзыв <span class="required">*</span> :</label>
		<textarea id="ads_text" name="ads_text" class="ckeditor">
			<?=$ads['text']?>
		</textarea>
	</div>
	
	<div class="form-group">
		<input type="submit" name="save" value="Сохранить" title="Сохранить" class="btn btn-ui"/>
		<a href="<?=CONTROL?>ads/" title="Отмена" class="btn btn-ui cancel">Отмена</a>
		<input type="reset" name="reset" value="Сброс" title="Сброс" class="btn btn-ui reset"/>
	</div>
</form>