<form class="form-auth" method="post">
  <div class="auth_logo">
   <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 366.7 74.9"><defs><style>.a{fill:url(#a);}.b{fill:#3f3f3f;}</style><linearGradient id="a" x1="56.98" y1="28.24" x2="56.98" y2="103.16" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#52cfeb"/><stop offset="1" stop-color="#42a2bc"/></linearGradient></defs><path class="a" d="M82.9,36.7c1.6.7,4.5,4.9,3.8,9.6a23.6,23.6,0,0,1-10.7,5V80.9H87c0,4.5-.7,8.2-1.5,9.5H65.3V51.7h-14v23c0,11.6-6.6,17.4-14.9,17.4a28.4,28.4,0,0,1-7.5-1c-1.1-1.5-1.7-6-1.8-11.6,5.5,2.7,13.1,4,13.7-4.7V53.2C32.4,54.1,29.2,60,26.4,64c.1-5.3.3-10.1.6-13.3,5.8-6.2,12.2-9.1,25-9.1H70.2a20.4,20.4,0,0,0,12.7-4.8M57,28.2c-16.4,0-23,1-23,1-7,.3-12,5.1-12.7,13.3,0,0-1.2,10.7-1.2,23.1s1.2,23.1,1.2,23.1C22,97,27,101.9,34,102.1c0,0,6.6,1,23,1s23-1,23-1c7-.3,12-5.1,12.7-13.3a227.2,227.2,0,0,0,1.2-23.1c0-12.4-1.2-23.1-1.2-23.1-.7-8.2-5.7-13-12.7-13.3,0,0-6.6-1-23-1" transform="translate(-20.1 -28.2)"/><path class="b" d="M149.5,65.7c0-11.1,4.6-20.7,18-20.7s18,9.5,18,20.7-4.6,20.7-18,20.7S149.5,76.8,149.5,65.7Zm8.4,0c0,6.5,1.3,12.7,9.6,12.7s9.6-6.2,9.6-12.7S175.8,53,167.5,53,157.9,59.2,157.9,65.7ZM361.2,46l7.3,12.2L375.8,46h9.9l-12,18.9,13,20.5h-10l-8.3-13.8-8.3,13.8h-10l13-20.5L351.2,46ZM324.8,61.7h15.6v7.6H324.8v8.3h18.3v8H316.4V46h26.7v8H324.8ZM289.1,85.4V54H278.3V46h30.1v8H297.5V85.4Zm-43.5,0h-8V46h8.4V70.3L261.7,46h8V85.4h-8.4V61.1Zm-55.3-7.8c3.5.1,5.8-1.4,6.7-4.6,2.3-8.5,2.6-18.2,3.8-27.1h25.4V85.4h-8.4V54h-9.5c-.5,5.5-1.5,15.1-3.1,21.1s-7.3,11-14.8,10.7v-8Zm-81,7.8V46h30.8V85.4h-8.4V54h-14V85.4Z" transform="translate(-20.1 -28.2)"/></svg>
  </div>
  <div class="field">
    <input type="text" name="login" id="login" placeholder="Имя пользователя" class="placeholder">
    <i class="icon-user icon-large"></i> </div>
  <div class="field">
    <input type="password" name="password" id="password" placeholder="Пароль"  autocomplete="off" class="placeholder">
    <i class="icon-lock icon-large"></i> </div>
  <div class="field error_code"> </div>
  <div class="submit">
    <button type="button" name="submit" id="submit"><i class="icon-arrow-right icon-large"></i></button>
  </div>
</form>