<div id="am_wrapper">
  <div id="am_section">
	<form class="form-1" method="post">
	  <div class="center_align auth_logo">
		<a class="cw_logo" href="http://www.customweb.ws" target="_blank">
		  <img alt="" src="<?=CORE_IMG?>cw_icon.png" class="cw_icon"/>
		</a>
	  </div>
      <p class="field">
        <input type="text" name="login"  id="login" placeholder="Имя пользователя" />
        <i class="icon-user icon-large"></i>
	  </p>
      <p class="field">
        <input type="password" name="password" id="password" placeholder="Пароль" />
        <i class="icon-lock icon-large"></i> </p>
      <p class="submit">
        <button type="submit" name="submit" id="submit"><i class="icon-arrow-right icon-large"></i></button>
      </p>
    </form>
  </div>
  <div id="am_push"></div>
  <!--end am_wrapper -->
</div>